<a href="https://colab.research.google.com/github/wenjunsun/personal-machine-learning-projects/blob/master/cancer-fracture/task1/machine_learning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. preprocssing, dealing with missing values

In [1]:
cd drive/My\ Drive/

/content/drive/My Drive

In [2]:
ls

 2022_06_Wenjun_Sun.pdf        fracture_with_emissa/           school/
 analysis_with_demographics/   geo_data_visualization.ipynb    week11/
'Colab Notebooks'/            'Getting started.pdf'            week3/
'COVID 19 data analysis'/      neuroscience/                   week4/
 data/                         political_sentiment_analysis/   week5/
 deep_learning/                sanfran.shp                     week8/
 fall/                         sanfran.shx

In [3]:
cd fracture_with_emissa/

/content/drive/My Drive/fracture_with_emissa

In [4]:
ls

 Codes/   Datasets/   Results/  'Task 1_.docx'

In [5]:
cd Datasets/

/content/drive/My Drive/fracture_with_emissa/Datasets

In [6]:
ls

 CompleteLabInterpretation.csv     'Created Data'/
 CompleteLabInterpretation.gsheet  'Raw Data'/

In [7]:
cd Raw\ Data

/content/drive/My Drive/fracture_with_emissa/Datasets/Raw Data

In [8]:
ls

BillingCodes.csv          Medications.csv
BonyLesions.csv           medicines_90_days_before_STC.csv
data_agg.csv              MyelomaTherapy.csv
Demographics.csv          PlasmaCells.csv
Demographics_encoded.csv  RadiationTherapy.csv
Diagnoses.csv             Signs.csv
Fractures.csv             Stage.csv
Labs2.csv                 Stages_encoded.csv
Labs_closest_to_SCT.csv   SurvivalDays.csv
Labs.csv                  Symptoms.csv
Lesions_encoded.csv

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('data_agg.csv')

In [11]:
data

        ID  HasFracture?  ...  C-Reactive Protein  Sedimentation Rate
0      MM1           0.0  ...                 1.0                 NaN
1      MM2           0.0  ...                 0.0                 NaN
2      MM4           0.0  ...                 0.0                 NaN
3      MM5           0.0  ...                 0.0                 NaN
4      MM6           0.0  ...                 0.0                 NaN
..     ...           ...  ...                 ...                 ...
697  MM834           0.0  ...                 1.0                 NaN
698  MM843           0.0  ...                 0.0                 1.0
699  MM836           0.0  ...                 1.0                 NaN
700  MM837           0.0  ...                 0.0                 NaN
701  MM838           0.0  ...                 0.0                 NaN

[702 rows x 23 columns]

In [17]:
data = data.rename(columns={'Calcium_x': 'TookCalciumMedicine', 'Calcium_y': 'LabCalciumLevel'})

In [18]:
data

        ID  HasFracture?  ...  C-Reactive Protein  Sedimentation Rate
0      MM1           0.0  ...                 1.0                 NaN
1      MM2           0.0  ...                 0.0                 NaN
2      MM4           0.0  ...                 0.0                 NaN
3      MM5           0.0  ...                 0.0                 NaN
4      MM6           0.0  ...                 0.0                 NaN
..     ...           ...  ...                 ...                 ...
697  MM834           0.0  ...                 1.0                 NaN
698  MM843           0.0  ...                 0.0                 1.0
699  MM836           0.0  ...                 1.0                 NaN
700  MM837           0.0  ...                 0.0                 NaN
701  MM838           0.0  ...                 0.0                 NaN

[702 rows x 23 columns]

In [19]:
data.describe()

       HasFracture?  BonyLesions  ...  C-Reactive Protein  Sedimentation Rate
count    702.000000   669.000000  ...          679.000000          101.000000
mean       0.148148     0.762332  ...            0.164948            0.653465
std        0.355500     0.425973  ...            0.371408            0.478239
min        0.000000     0.000000  ...            0.000000            0.000000
25%        0.000000     1.000000  ...            0.000000            0.000000
50%        0.000000     1.000000  ...            0.000000            1.000000
75%        0.000000     1.000000  ...            0.000000            1.000000
max        1.000000     1.000000  ...            1.000000            1.000000

[8 rows x 22 columns]

In [25]:
data.columns[data.isnull().mean() >= 0.5] # columns with more than half missing values

Index(['Estradiol', 'Testosterone', 'Sedimentation Rate'], dtype='object')

In [33]:
data.columns

Index(['ID', 'HasFracture?', 'BonyLesions', 'Stage', 'Vitamin D supplements',
       'TookCalciumMedicine', 'Denosumab', 'Pamidronate', 'Zoledronate',
       'Dexamethasone', 'AgeAtDx', 'PatientSex', 'RacialGroup',
       'LabCalciumLevel', 'Phosphate', 'Alkaline Phosphatase', 'Vitamin D3',
       'Estradiol', 'Testosterone', 'Thyroid Stimulating Hormone',
       'Creatinine', 'C-Reactive Protein', 'Sedimentation Rate'],
      dtype='object')

In [35]:
data.drop(['Estradiol', 'Testosterone', 'Sedimentation\xa0Rate'], axis = 1, inplace = True)

So we dropped `'Estradiol', 'Testosterone', 'Sedimentation\xa0Rate', and 'Parathyroid hormone'` because they have way more nulls (> 50%)

In [37]:
data.to_csv('data_agg_2.csv', index=False)

In [42]:
data.describe()

       HasFracture?  BonyLesions  ...  Creatinine  C-Reactive Protein
count    702.000000   669.000000  ...  699.000000          679.000000
mean       0.148148     0.762332  ...    0.250358            0.164948
std        0.355500     0.425973  ...    0.433529            0.371408
min        0.000000     0.000000  ...    0.000000            0.000000
25%        0.000000     1.000000  ...    0.000000            0.000000
50%        0.000000     1.000000  ...    0.000000            0.000000
75%        0.000000     1.000000  ...    0.500000            0.000000
max        1.000000     1.000000  ...    1.000000            1.000000

[8 rows x 19 columns]

we still have missing values, so let's fill those missing values by "back filling" method, this will probably randomly assign values in a sense. Later we can think of better imputation techniques.

In [46]:
data = data.fillna(method='bfill')

In [47]:
data.describe()

       HasFracture?  BonyLesions  ...  Creatinine  C-Reactive Protein
count    702.000000   702.000000  ...  702.000000          702.000000
mean       0.148148     0.764957  ...    0.250712            0.166667
std        0.355500     0.424328  ...    0.433732            0.372944
min        0.000000     0.000000  ...    0.000000            0.000000
25%        0.000000     1.000000  ...    0.000000            0.000000
50%        0.000000     1.000000  ...    0.000000            0.000000
75%        0.000000     1.000000  ...    0.750000            0.000000
max        1.000000     1.000000  ...    1.000000            1.000000

[8 rows x 19 columns]

In [48]:
data.to_csv('data_for_ML_back_fill.csv', index = False)

In [62]:
data = data.drop('ID', axis = 1) # drop ID column.

In [63]:
# before we start, need to to one hot encoding on race because
# currently different races are labeled 1,2,3,4, but
# they don't have any order. So we will convert this
# feature to [1,0,0,0], [0,1,0,0], [0,0,1,0], [0,0,0,1]
# data = pd.get_dummies(data, columns=['RacialGroup'], drop_first = True)
data = pd.get_dummies(data, columns=['RacialGroup'])

In [64]:
data.head()

   HasFracture?  BonyLesions  ...  RacialGroup_3.0  RacialGroup_4.0
0           0.0          0.0  ...                0                0
1           0.0          1.0  ...                0                0
2           0.0          1.0  ...                0                0
3           0.0          0.0  ...                0                0
4           0.0          1.0  ...                0                0

[5 rows x 22 columns]

# 2. Machine learning

In [65]:
data.shape

(702, 22)

now we don't have any null values so we can proceed! So we have 700 data points and 22 features, with 1 target variable. We are doing a binary classification problem on whether the patient will have bone frature based on his/her medical history/race, etc. Wouldn't use any neural net because we don't have many data points

## 2.1 split dataset to train and test

In [70]:
X = data.drop(['HasFracture?'], axis=1)

In [71]:
y = data['HasFracture?']

In [67]:
# split dataset to train and test.
from sklearn import model_selection

In [72]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size = 0.25, stratify = y)
# stratify makes sure the proportion of 0 and 1's in data is the same as in our train and test set

In [73]:
X_train.shape

(526, 21)

In [75]:
len(y_train)

526

In [77]:
X_test.shape

(176, 21)

In [78]:
len(y_test)

176

## 2.2 LR + SVM + RF + KNN + NB base models

In [81]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB

LR = LogisticRegression()
KNN = KNeighborsClassifier()
RF = RandomForestClassifier()
SVM = SVC()
NB = BernoulliNB()

In [57]:
logisticClassifier = LogisticRegression()

In [82]:
model_names = ['SVC', 'Logistic Regression', 'Random Forest', 'KNN', 'Naive Bayes']
model_list =  [ SVM, LR, RF, KNN, NB]

In [84]:
for index, model in enumerate(model_list):
  model_name = model_names[index]
  cv_score = model_selection.cross_val_score(model, X_train, y_train, cv = 5)
  print("mean cross validation accuracy of " + model_name + " is " + str(cv_score.mean()))
  print()

mean cross validation accuracy of SVC is 0.851716082659479

mean cross validation accuracy of Logistic Regression is 0.8498292902066487

mean cross validation accuracy of Random Forest is 0.8251033243486073

mean cross validation accuracy of KNN is 0.8346271338724168

mean cross validation accuracy of Naive Bayes is 0.8403054806828392

As we can see, we have accuracy of about 85% for the base models, which is okay I think

# 2.3 hyperparameter tuning with grid search

I think we should optimize in terms of recall in this case because we have a lot of patients without bone fracture. We want the model to find out the ones with the bone fracture as much as possible.

We can come back and modify the metrics to f1 or AUC score later.

This is only preliminary research

In [85]:
from sklearn.model_selection import GridSearchCV

In [192]:
parameters = {
    'penalty':('l1','l2', 'elasticnet'),
    'C':(0.005, 0.01, 0.05, 0.1, 0.2 ,1, 2)
}
Grid_LR = GridSearchCV(LogisticRegression(solver='liblinear'), parameters, cv = 5, scoring = 'recall')
Grid_LR.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  FitFailedWarning)

GridSearchCV(cv=5, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='liblinear',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': (0.005, 0.01, 0.05, 0.1, 0.2, 1, 2),
                         'penalty': ('l1', 'l2', 'elasticnet')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [193]:
Grid_LR.best_score_

0.0

In [194]:
Grid_LR.best_params_

{'C': 0.005, 'penalty': 'l1'}

In [195]:
best_LR_model = Grid_LR.best_estimator_

In [196]:
# KNN grid search
parameters = {
    'n_neighbors': [3,5,7,9,11,21],
    'p': [1,2,3], # p is the l_p norm metric choice, 2 is euclidean
    'weights':['uniform','distance']
}

In [197]:
Grid_KNN = GridSearchCV(KNeighborsClassifier(),parameters, cv = 5, scoring = 'recall')
Grid_KNN.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': [3, 5, 7, 9, 11, 21], 'p': [1, 2, 3],
                         'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [198]:
Grid_KNN.best_score_

0.05

In [199]:
Grid_KNN.best_params_

{'n_neighbors': 3, 'p': 1, 'weights': 'distance'}

In [200]:
best_KNN_model = Grid_KNN.best_estimator_

In [201]:
# RF Grid Search
parameters = {
    'n_estimators' : [40,60,80,100,200,400],
    'criterion': ['gini', 'entropy']
}
Grid_RF = GridSearchCV(RandomForestClassifier(), parameters, cv = 5, scoring = 'recall')
Grid_RF.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'n_estimators': [40, 60, 80, 100, 200, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [202]:
Grid_RF.best_params_

{'criterion': 'gini', 'n_estimators': 40}

In [203]:
Grid_RF.best_score_

0.09

In [204]:
best_RF_model = Grid_RF.best_estimator_

In [206]:
# SVM Grid Search
parameters = {
    'kernel':('rbf', 'poly'),
    'degree':(3, 5, 10), # degree of polynomial
    'gamma':('scale', 0.01, 0.1), # Kernel coefficient
    'C':(0.01, 0.1, 1, 2, 5),
    'probability':[True] # want to plot it on ROC later, so turn this on.
}
Grid_SVM = GridSearchCV(SVC(),parameters, cv = 5, scoring = 'recall') 
Grid_SVM.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': (0.01, 0.1, 1, 2, 5), 'degree': (3, 5, 10),
                         'gamma': ('scale', 0.01, 0.1),
                         'kernel': ('rbf', 'poly'), 'probability': [True]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='recall', verbose=0)

In [207]:
Grid_SVM.best_params_

{'C': 1, 'degree': 10, 'gamma': 'scale', 'kernel': 'poly', 'probability': True}

In [208]:
Grid_SVM.best_score_

0.10416666666666666

In [209]:
best_SVM_model = Grid_SVM.best_estimator_

In [210]:
# naive bayes Grid Search
parameters = {
    'alpha': [0, 0.5, 1, 1.5, 2]
}
Grid_NB= GridSearchCV(BernoulliNB(),parameters, cv = 5, scoring = 'recall')
Grid_NB.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)
/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

GridSearchCV(cv=5, error_score=nan,
             estimator=BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None,
                                   fit_prior=True),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0, 0.5, 1, 1.5, 2]}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring='recall', verbose=0)

In [211]:
Grid_NB.best_score_

0.013333333333333332

In [132]:
Grid_NB.best_params_

{'alpha': 1}

In [129]:
best_NB_model = Grid_NB.best_estimator_

As we can see, all models can't get very high recall. the best ones are RF and SVM with about 10% of recall rate. If we want to do better we need to think about more advanced method? Or collect more data or do more data processing.

# 2.4 look at recall on the test set

In [213]:
from sklearn import metrics

In [235]:
y_pred_rf = best_RF_model.predict(X_test)
recall = metrics.recall_score(y_test, y_pred_rf)
print("random forest recall: " + str(recall))

random forest recall: 0.0

In [238]:
y_pred_svm = best_SVM_model.predict(X_test)
recall = metrics.recall_score(y_test, y_pred_svm)
print("svm recall: " + str(recall))

svm recall: 0.07692307692307693

In [226]:
y_pred_lr = best_LR_model.predict(X_test)
recall = metrics.recall_score(y_test, y_pred_lr)
print("logistic regression recall: " + str(recall))

logistic regression recall: 0.0

In [227]:
y_pred_knn = best_KNN_model.predict(X_test)
recall = metrics.recall_score(y_test, y_pred_knn)
print("KNN recall: " + str(recall))

KNN recall: 0.11538461538461539

In [229]:
y_pred_nb = best_NB_model.predict(X_test)
recall = metrics.recall_score(y_test, y_pred_nb)
print("NB recall: " + str(recall))

NB recall: 0.0

It seems like some models do terrible on the test set? Don't know why random forest did pretty well on training set but is very bad on the test set. This is for future investigation