<a href="https://colab.research.google.com/github/wenjunsun/personal-machine-learning-projects/blob/master/cancer-fracture/task1/prepare_data_for_ML_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we will try to increase the number of positive examples in our dataset (patients with fracture) if we can. (not increasing the number of rows! just the positive examples. The reason we can do this is because we have multiple Stem Cell Transplant days for some patient. So if patient A has STC day of 100, 1000, and he/she doesn't have fracture within 100 - 465 day, but does have it on 1100, then we will consider him/her have fracture, whereas before we didn't.

# 0. go to data directory + load libraries

In [1]:
cd drive/My\ Drive/fracture_with_emissa/Datasets/Raw\ Data

/content/drive/My Drive/fracture_with_emissa/Datasets/Raw Data

In [2]:
ls

BillingCodes.csv           Labs_encoded.csv
BonyLesions.csv            Lesions_encoded.csv
data_agg_2.csv             Medications.csv
data_agg_3.csv             medicines_90_days_before_STC.csv
data_agg.csv               MyelomaTherapy.csv
data_for_ML_back_fill.csv  PlasmaCells.csv
Demographics.csv           RadiationTherapy.csv
Demographics_encoded.csv   Signs.csv
Diagnoses.csv              Stage.csv
Final_stage.csv            Stages_encoded.csv
Fractures.csv              STC_Days.csv
Labs2.csv                  STC_days.ditionary
Labs_closest_to_SCT.csv    SurvivalDays.csv
Labs.csv                   Symptoms.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
import pickle

# 1. Get new Stem cell treatment days of everyone (including multiple STC dates if the patient took STC multiple times)

In [ ]:
data = pd.read_csv('MyelomaTherapy.csv')

In [ ]:
data

         ID             MedTx    Combination  ... Line Duration  TreatmentPhase
0       MM1        Bortezomib            VRD  ...    1    195.0       Induction
1       MM1     Dexamethasone            VRD  ...    1    195.0       Induction
2       MM1      Lenalidomide            VRD  ...    1    195.0       Induction
3       MM1  Cyclophosphamide  Not specified  ...    2     32.0       Induction
4       MM1     Dexamethasone  Not specified  ...    2     32.0       Induction
...     ...               ...            ...  ...  ...      ...             ...
9939  MM838     Dexamethasone  Not specified  ...   22     20.0         Relapse
9940  MM838  Cyclophosphamide  Not specified  ...   22     20.0         Relapse
9941  MM838       Fludarabine  Not specified  ...   23      NaN         Relapse
9942  MM838  Cyclophosphamide  Not specified  ...   23      NaN         Relapse
9943  MM838   Anti-BCMA CAR-T  Not specified  ...   23      NaN         Relapse

[9944 rows x 10 columns]

In [ ]:
stem_cell_data = data[data['MedTx'] == 'Stem cell transplant']

In [ ]:
# the dictionary stores mapping from a
# id of a patient to a set of his/her
# STC days. Example: 'MM1' : {365, 444}, 'MM2' : {444}
idToDays = dict()

for i in range(stem_cell_data.shape[0]):
  thisRow = stem_cell_data.iloc[i]
  ID = thisRow['ID']
  day = thisRow['DaysFromDxStart']
  if ID not in idToDays:
    idToDays[ID] = set()
  idToDays[ID].add(day)

In [ ]:
# print out the patients with multiple STC treatments.
for id in idToDays:
  if len(idToDays[id]) > 1:
    print(id)

MM7
MM10
MM953
MM18
MM20
MM24
MM844
MM29
MM35
MM45
MM862
MM942
MM955
MM52
MM852
MM934
MM65
MM867
MM859
MM868
MM68
MM69
MM70
MM72
MM73
MM950
MM946
MM924
MM77
MM79
MM80
MM943
MM81
MM971
MM82
MM871
MM87
MM88
MM92
MM93
MM857
MM96
MM873
MM969
MM98
MM877
MM102
MM103
MM880
MM883
MM108
MM112
MM130
MM132
MM133
MM954
MM136
MM142
MM927
MM149
MM153
MM155
MM158
MM159
MM166
MM169
MM170
MM172
MM173
MM179
MM892
MM201
MM202
MM205
MM208
MM210
MM212
MM214
MM215
MM217
MM219
MM221
MM229
MM230
MM237
MM240
MM260
MM894
MM271
MM274
MM277
MM280
MM282
MM283
MM288
MM291
MM922
MM308
MM309
MM320
MM324
MM334
MM339
MM343
MM345
MM350
MM351
MM353
MM357
MM366
MM897
MM374
MM388
MM400
MM408
MM430
MM441
MM453
MM456
MM459
MM474
MM475
MM517
MM525
MM530
MM539
MM545
MM552
MM554
MM565
MM578
MM586
MM588
MM589
MM600
MM608
MM609
MM622
MM639
MM677
MM710
MM714
MM725
MM915
MM810
MM812
MM930
MM836
MM838

So we can see we have quite a lot of people who took stem cell treatment multiple times.

In [ ]:
# check in our original dataset that those people do have multiple
# STC.
data[(data['ID'] == 'MM838') & (data['MedTx'] == 'Stem cell transplant')]

         ID                 MedTx  ... Duration        TreatmentPhase
9905  MM838  Stem cell transplant  ...     92.0  Stem cell transplant
9906  MM838  Stem cell transplant  ...    199.0  Stem cell transplant

[2 rows x 10 columns]

In [ ]:
idToDays['MM838']

{244.0, 336.0}

That looks correct to me. Now we want to store this python object of mapping from int to a set in the disk so we can use it later. We will use the `pickle ` python package to do that.

In [ ]:
with open('STC_days.ditionary', 'wb') as dictionary_file:
  pickle.dump(idToDays, dictionary_file)

# 2. reprepare fracture data again, excluding 'personal history of fracture', and include fracture within multiple STC days

In [5]:
# this is how you load a pickle file into python object:
with open('STC_days.ditionary', 'rb') as dictionary_file:
    idToDays = pickle.load(dictionary_file)
    print(idToDays)

{'MM1': {343.0}, 'MM2': {229.0}, 'MM4': {425.0}, 'MM5': {416.0}, 'MM6': {657.0}, 'MM7': {259.0, 203.0}, 'MM8': {541.0}, 'MM10': {347.0, 171.0}, 'MM12': {318.0}, 'MM13': {165.0}, 'MM15': {3363.0}, 'MM953': {101.0, 150.0}, 'MM17': {183.0}, 'MM18': {1240.0, 1306.0, 236.0}, 'MM19': {432.0}, 'MM20': {3065.0, 3193.0}, 'MM21': {181.0}, 'MM22': {184.0}, 'MM23': {211.0}, 'MM24': {865.0, 923.0}, 'MM26': {1154.0}, 'MM844': {976.0, 818.0}, 'MM28': {2543.0}, 'MM29': {251.0, 3677.0}, 'MM32': {247.0}, 'MM974': {3505.0}, 'MM33': {265.0}, 'MM35': {339.0, 446.0}, 'MM982': {1346.0}, 'MM37': {223.0}, 'MM38': {1902.0}, 'MM39': {273.0}, 'MM40': {157.0}, 'MM41': {1345.0}, 'MM923': {209.0}, 'MM45': {392.0, 1509.0}, 'MM46': {170.0}, 'MM966': {235.0}, 'MM861': {156.0}, 'MM862': {1072.0, 1952.0}, 'MM942': {3067.0, 2486.0, 183.0}, 'MM955': {1220.0, 2268.0}, 'MM47': {253.0}, 'MM51': {3112.0}, 'MM863': {2370.0}, 'MM52': {209.0, 2083.0}, 'MM53': {4191.0}, 'MM54': {553.0}, 'MM55': {369.0}, 'MM56': {3421.0}, 'MM57': {1787.0}, 'MM58': {168.0}, 'MM864': {2014.0}, 'MM61': {193.0}, 'MM952': {345.0}, 'MM961': {693.0}, 'MM959': {750.0}, 'MM962': {1458.0}, 'MM852': {953.0, 652.0}, 'MM934': {457.0, 793.0}, 'MM63': {619.0}, 'MM64': {333.0}, 'MM957': {354.0}, 'MM866': {283.0}, 'MM65': {336.0, 273.0}, 'MM867': {291.0, 237.0}, 'MM963': {323.0}, 'MM66': {196.0}, 'MM859': {546.0, 468.0}, 'MM67': {1622.0}, 'MM868': {226.0, 2022.0}, 'MM869': {249.0}, 'MM940': {253.0}, 'MM68': {772.0, 855.0}, 'MM69': {252.0, 727.0}, 'MM70': {200.0, 335.0}, 'MM71': {233.0}, 'MM72': {356.0, 3679.0}, 'MM73': {2336.0, 293.0, 2229.0}, 'MM932': {196.0}, 'MM941': {516.0}, 'MM950': {269.0, 190.0}, 'MM946': {3584.0, 3721.0}, 'MM951': {553.0}, 'MM870': {392.0}, 'MM924': {321.0, 226.0}, 'MM976': {689.0}, 'MM960': {2412.0}, 'MM75': {211.0}, 'MM76': {318.0}, 'MM77': {2283.0, 725.0, 887.0}, 'MM939': {221.0}, 'MM78': {303.0}, 'MM938': {1027.0}, 'MM79': {746.0, 2895.0}, 'MM860': {713.0}, 'MM80': {224.0, 1331.0}, 'MM943': {232.0, 525.0}, 'MM984': {1164.0}, 'MM975': {262.0}, 'MM81': {194.0, 258.0}, 'MM971': {215.0, 2303.0}, 'MM82': {337.0, 218.0}, 'MM84': {252.0}, 'MM871': {376.0, 585.0}, 'MM918': {1348.0}, 'MM86': {216.0}, 'MM87': {299.0, 228.0}, 'MM88': {2233.0, 205.0}, 'MM89': {265.0}, 'MM919': {203.0}, 'MM926': {253.0}, 'MM842': {237.0}, 'MM90': {293.0}, 'MM91': {2562.0}, 'MM92': {208.0, 323.0}, 'MM93': {426.0, 1461.0}, 'MM872': {176.0}, 'MM857': {234.0, 571.0}, 'MM96': {182.0, 246.0}, 'MM873': {365.0, 287.0}, 'MM969': {1585.0, 220.0}, 'MM98': {1819.0, 2963.0}, 'MM99': {282.0}, 'MM840': {368.0}, 'MM925': {87.0}, 'MM875': {204.0}, 'MM876': {316.0}, 'MM877': {489.0, 1283.0, 1463.0}, 'MM878': {234.0}, 'MM102': {234.0, 309.0}, 'MM103': {673.0, 1532.0, 1454.0}, 'MM104': {162.0}, 'MM986': {500.0}, 'MM105': {189.0}, 'MM879': {352.0}, 'MM880': {246.0, 343.0}, 'MM929': {405.0}, 'MM106': {243.0}, 'MM107': {426.0}, 'MM881': {265.0}, 'MM882': {828.0}, 'MM883': {400.0, 700.0}, 'MM108': {366.0, 429.0, 2038.0}, 'MM884': {234.0}, 'MM109': {550.0}, 'MM947': {341.0}, 'MM110': {484.0}, 'MM112': {288.0, 356.0}, 'MM948': {192.0}, 'MM113': {3559.0}, 'MM114': {250.0}, 'MM115': {180.0}, 'MM116': {250.0}, 'MM885': {389.0}, 'MM117': {289.0}, 'MM118': {221.0}, 'MM123': {200.0}, 'MM124': {1036.0}, 'MM125': {1326.0}, 'MM126': {208.0}, 'MM127': {224.0}, 'MM128': {217.0}, 'MM886': {258.0}, 'MM129': {582.0}, 'MM130': {2532.0, 230.0}, 'MM949': {220.0}, 'MM131': {279.0}, 'MM132': {1187.0, 220.0, 1254.0}, 'MM848': {285.0}, 'MM133': {2741.0, 214.0}, 'MM134': {2257.0}, 'MM954': {147.0, 222.0}, 'MM135': {206.0}, 'MM136': {432.0, 327.0}, 'MM931': {341.0}, 'MM887': {308.0}, 'MM138': {168.0}, 'MM139': {427.0}, 'MM140': {1112.0}, 'MM141': {335.0}, 'MM142': {281.0, 1307.0}, 'MM143': {399.0}, 'MM144': {520.0}, 'MM145': {303.0}, 'MM146': {283.0}, 'MM856': {496.0}, 'MM979': {293.0}, 'MM888': {490.0}, 'MM927': {312.0, 206.0}, 'MM149': {2181.0, 183.0}, 'MM945': {186.0}, 'MM150': {201.0}, 'MM151': {1081.0}, 'MM152': {281.0}, 'MM936': {324.0}, 'MM153': {538.0, 463.0}, 'MM154': {598.0}, 'MM155': {2141.0, 2255.0}, 'MM156': {630.0}, 'MM158': {316.0, 1036.0}, 'MM159': {283.0, 3772.0}, 'MM160': {682.0}, 'MM889': {195.0}, 'MM162': {565.0}, 'MM937': {-198.0}, 'MM163': {1452.0}, 'MM973': {424.0}, 'MM165': {323.0}, 'MM166': {257.0, 327.0}, 'MM890': {616.0}, 'MM167': {285.0}, 'MM168': {183.0}, 'MM169': {329.0, 2173.0}, 'MM170': {667.0, 606.0}, 'MM172': {1570.0, 307.0}, 'MM173': {267.0, 427.0}, 'MM891': {245.0}, 'MM174': {216.0}, 'MM176': {1464.0}, 'MM177': {1027.0}, 'MM179': {696.0, 457.0}, 'MM180': {319.0}, 'MM181': {392.0}, 'MM183': {1112.0}, 'MM184': {3177.0}, 'MM185': {139.0}, 'MM980': {230.0}, 'MM981': {616.0}, 'MM188': {324.0}, 'MM189': {388.0}, 'MM190': {754.0}, 'MM191': {950.0}, 'MM193': {325.0}, 'MM892': {377.0, 443.0, 198.0}, 'MM195': {553.0}, 'MM196': {192.0}, 'MM197': {309.0}, 'MM198': {204.0}, 'MM200': {292.0}, 'MM201': {947.0, 780.0}, 'MM202': {552.0, 743.0}, 'MM203': {192.0}, 'MM205': {1299.0, 1204.0, 181.0}, 'MM206': {2343.0}, 'MM207': {589.0}, 'MM208': {1929.0, 380.0, 2353.0}, 'MM209': {208.0}, 'MM210': {196.0, 244.0}, 'MM211': {819.0}, 'MM212': {233.0, 175.0}, 'MM214': {626.0, 924.0}, 'MM215': {280.0, 424.0}, 'MM217': {164.0, 1151.0}, 'MM218': {315.0}, 'MM219': {266.0, 197.0}, 'MM220': {517.0}, 'MM221': {187.0, 293.0}, 'MM222': {441.0}, 'MM223': {584.0}, 'MM225': {763.0}, 'MM228': {983.0}, 'MM229': {779.0, 700.0}, 'MM230': {298.0, 362.0}, 'MM231': {230.0}, 'MM232': {3497.0}, 'MM233': {575.0}, 'MM234': {206.0}, 'MM235': {197.0}, 'MM237': {132.0, 63.0}, 'MM239': {209.0}, 'MM240': {1650.0, 484.0, 1804.0}, 'MM243': {278.0}, 'MM245': {1812.0}, 'MM246': {301.0}, 'MM247': {196.0}, 'MM250': {272.0}, 'MM251': {233.0}, 'MM252': {859.0}, 'MM253': {197.0}, 'MM254': {234.0}, 'MM255': {277.0}, 'MM256': {661.0}, 'MM258': {815.0}, 'MM893': {253.0}, 'MM260': {328.0, 270.0}, 'MM894': {329.0, 1091.0}, 'MM262': {537.0}, 'MM263': {172.0}, 'MM264': {1099.0}, 'MM266': {229.0}, 'MM267': {201.0}, 'MM268': {686.0}, 'MM269': {528.0}, 'MM271': {289.0, 237.0}, 'MM272': {205.0}, 'MM273': {636.0}, 'MM274': {2541.0, 238.0}, 'MM276': {449.0}, 'MM277': {2204.0, 269.0}, 'MM278': {2323.0}, 'MM279': {261.0}, 'MM280': {248.0, 367.0}, 'MM282': {1140.0, 229.0, 1190.0}, 'MM283': {2297.0, 2907.0, 205.0}, 'MM284': {236.0}, 'MM285': {2049.0}, 'MM286': {249.0}, 'MM287': {189.0}, 'MM288': {274.0, 398.0}, 'MM289': {852.0}, 'MM291': {2722.0, 311.0}, 'MM293': {416.0}, 'MM922': {1298.0, 199.0}, 'MM846': {253.0}, 'MM295': {1615.0}, 'MM296': {293.0}, 'MM301': {379.0}, 'MM303': {385.0}, 'MM304': {182.0}, 'MM305': {197.0}, 'MM306': {497.0}, 'MM308': {498.0, 571.0}, 'MM309': {316.0, 374.0}, 'MM310': {237.0}, 'MM312': {122.0}, 'MM313': {169.0}, 'MM314': {199.0}, 'MM315': {430.0}, 'MM316': {285.0}, 'MM317': {297.0}, 'MM319': {707.0}, 'MM320': {1955.0, 772.0}, 'MM321': {633.0}, 'MM322': {298.0}, 'MM324': {427.0, 206.0}, 'MM325': {142.0}, 'MM327': {316.0}, 'MM328': {382.0}, 'MM329': {166.0}, 'MM330': {180.0}, 'MM331': {266.0}, 'MM334': {350.0, 175.0}, 'MM335': {243.0}, 'MM336': {260.0}, 'MM337': {437.0}, 'MM338': {303.0}, 'MM339': {457.0, 532.0}, 'MM340': {208.0}, 'MM341': {205.0}, 'MM343': {194.0, 651.0}, 'MM344': {233.0}, 'MM345': {362.0, 301.0}, 'MM346': {196.0}, 'MM347': {1502.0}, 'MM348': {349.0}, 'MM349': {184.0}, 'MM350': {478.0, 631.0}, 'MM351': {619.0, 502.0}, 'MM352': {225.0}, 'MM353': {579.0, 227.0}, 'MM354': {329.0}, 'MM355': {206.0}, 'MM356': {466.0}, 'MM357': {251.0, 172.0}, 'MM358': {74.0}, 'MM359': {243.0}, 'MM360': {405.0}, 'MM361': {357.0}, 'MM362': {286.0}, 'MM364': {673.0}, 'MM365': {216.0}, 'MM366': {1591.0, 894.0, 1647.0}, 'MM367': {389.0}, 'MM368': {306.0}, 'MM897': {507.0, 1596.0}, 'MM369': {142.0}, 'MM370': {237.0}, 'MM371': {171.0}, 'MM373': {370.0}, 'MM374': {322.0, 252.0}, 'MM375': {199.0}, 'MM376': {409.0}, 'MM377': {251.0}, 'MM378': {199.0}, 'MM379': {474.0}, 'MM380': {358.0}, 'MM384': {205.0}, 'MM385': {266.0}, 'MM386': {774.0}, 'MM388': {235.0, 342.0}, 'MM389': {231.0}, 'MM390': {214.0}, 'MM393': {350.0}, 'MM394': {385.0}, 'MM395': {359.0}, 'MM399': {594.0}, 'MM400': {453.0, 575.0}, 'MM401': {266.0}, 'MM402': {144.0}, 'MM403': {164.0}, 'MM405': {251.0}, 'MM408': {612.0, 708.0}, 'MM409': {224.0}, 'MM410': {194.0}, 'MM411': {449.0}, 'MM412': {364.0}, 'MM415': {176.0}, 'MM416': {158.0}, 'MM417': {432.0}, 'MM418': {320.0}, 'MM419': {237.0}, 'MM420': {261.0}, 'MM421': {223.0}, 'MM424': {375.0}, 'MM425': {244.0}, 'MM426': {310.0}, 'MM427': {301.0}, 'MM428': {196.0}, 'MM429': {330.0}, 'MM430': {248.0, 499.0, 540.0}, 'MM431': {151.0}, 'MM433': {165.0}, 'MM434': {749.0}, 'MM435': {206.0}, 'MM437': {285.0}, 'MM438': {196.0}, 'MM440': {246.0}, 'MM441': {345.0, 1951.0}, 'MM442': {364.0}, 'MM443': {960.0}, 'MM446': {172.0}, 'MM447': {300.0}, 'MM448': {773.0}, 'MM450': {544.0}, 'MM451': {161.0}, 'MM453': {336.0, 421.0}, 'MM455': {206.0}, 'MM456': {600.0, 648.0}, 'MM458': {1985.0}, 'MM459': {1352.0, 1401.0, 253.0}, 'MM461': {1964.0}, 'MM463': {1196.0}, 'MM464': {1481.0}, 'MM465': {236.0}, 'MM466': {200.0}, 'MM467': {448.0}, 'MM468': {181.0}, 'MM469': {358.0}, 'MM470': {196.0}, 'MM471': {1143.0}, 'MM472': {247.0}, 'MM473': {251.0}, 'MM474': {160.0, 211.0}, 'MM475': {1502.0, 207.0}, 'MM476': {249.0}, 'MM477': {313.0}, 'MM478': {787.0}, 'MM479': {1015.0}, 'MM480': {189.0}, 'MM481': {172.0}, 'MM482': {243.0}, 'MM485': {222.0}, 'MM488': {340.0}, 'MM489': {228.0}, 'MM490': {554.0}, 'MM492': {276.0}, 'MM493': {228.0}, 'MM496': {196.0}, 'MM497': {327.0}, 'MM498': {1009.0}, 'MM501': {1196.0}, 'MM502': {1635.0}, 'MM503': {204.0}, 'MM506': {165.0}, 'MM507': {1029.0}, 'MM901': {284.0}, 'MM508': {276.0}, 'MM509': {267.0}, 'MM510': {289.0}, 'MM511': {342.0}, 'MM512': {422.0}, 'MM513': {214.0}, 'MM514': {481.0}, 'MM517': {432.0, 195.0}, 'MM518': {186.0}, 'MM520': {257.0}, 'MM523': {151.0}, 'MM524': {160.0}, 'MM525': {1414.0, 391.0}, 'MM527': {205.0}, 'MM528': {302.0}, 'MM529': {251.0}, 'MM530': {342.0, 215.0}, 'MM531': {279.0}, 'MM532': {216.0}, 'MM534': {279.0}, 'MM535': {477.0}, 'MM538': {602.0}, 'MM539': {252.0, 797.0}, 'MM541': {198.0}, 'MM542': {882.0}, 'MM543': {174.0}, 'MM545': {145.0, 203.0}, 'MM546': {264.0}, 'MM547': {354.0}, 'MM549': {1336.0}, 'MM550': {333.0}, 'MM551': {390.0}, 'MM552': {136.0, 203.0}, 'MM553': {828.0}, 'MM554': {777.0, 132.0, 703.0}, 'MM555': {206.0}, 'MM556': {350.0}, 'MM559': {254.0}, 'MM560': {324.0}, 'MM563': {223.0}, 'MM564': {225.0}, 'MM565': {290.0, 354.0}, 'MM566': {370.0}, 'MM567': {172.0}, 'MM568': {167.0}, 'MM569': {182.0}, 'MM572': {488.0}, 'MM573': {183.0}, 'MM574': {279.0}, 'MM577': {423.0}, 'MM578': {424.0, 364.0}, 'MM581': {304.0}, 'MM582': {182.0}, 'MM584': {206.0}, 'MM585': {352.0}, 'MM586': {313.0, 235.0}, 'MM587': {381.0}, 'MM588': {284.0, 143.0}, 'MM589': {2658.0, 4178.0}, 'MM590': {320.0}, 'MM591': {261.0}, 'MM593': {396.0}, 'MM594': {289.0}, 'MM595': {191.0}, 'MM597': {388.0}, 'MM598': {161.0}, 'MM599': {256.0}, 'MM600': {432.0, 558.0}, 'MM601': {309.0}, 'MM602': {199.0}, 'MM603': {290.0}, 'MM606': {236.0}, 'MM607': {141.0}, 'MM608': {427.0, 332.0}, 'MM609': {241.0, 319.0}, 'MM610': {241.0}, 'MM611': {808.0}, 'MM612': {409.0}, 'MM613': {339.0}, 'MM614': {248.0}, 'MM617': {410.0}, 'MM618': {246.0}, 'MM620': {501.0}, 'MM622': {153.0, 429.0}, 'MM623': {266.0}, 'MM624': {340.0}, 'MM625': {451.0}, 'MM626': {143.0}, 'MM627': {239.0}, 'MM628': {393.0}, 'MM629': {313.0}, 'MM630': {203.0}, 'MM631': {800.0}, 'MM633': {198.0}, 'MM634': {280.0}, 'MM635': {283.0}, 'MM636': {322.0}, 'MM639': {325.0, 189.0}, 'MM640': {166.0}, 'MM642': {232.0}, 'MM643': {2130.0}, 'MM644': {283.0}, 'MM645': {219.0}, 'MM646': {333.0}, 'MM647': {367.0}, 'MM649': {349.0}, 'MM650': {222.0}, 'MM652': {143.0}, 'MM985': {247.0}, 'MM656': {296.0}, 'MM658': {824.0}, 'MM659': {218.0}, 'MM661': {178.0}, 'MM662': {357.0}, 'MM663': {466.0}, 'MM664': {276.0}, 'MM665': {212.0}, 'MM666': {326.0}, 'MM668': {189.0}, 'MM669': {224.0}, 'MM670': {195.0}, 'MM671': {248.0}, 'MM673': {194.0}, 'MM674': {364.0}, 'MM677': {154.0, 3.0}, 'MM678': {325.0}, 'MM680': {428.0}, 'MM682': {206.0}, 'MM683': {310.0}, 'MM685': {175.0}, 'MM687': {387.0}, 'MM688': {191.0}, 'MM689': {300.0}, 'MM690': {316.0}, 'MM691': {251.0}, 'MM692': {251.0}, 'MM693': {168.0}, 'MM694': {1066.0}, 'MM698': {239.0}, 'MM699': {269.0}, 'MM702': {225.0}, 'MM704': {182.0}, 'MM706': {234.0}, 'MM709': {229.0}, 'MM710': {200.0, 259.0}, 'MM908': {138.0}, 'MM909': {266.0}, 'MM713': {433.0}, 'MM714': {233.0, 308.0, 557.0}, 'MM715': {2280.0}, 'MM716': {298.0}, 'MM717': {176.0}, 'MM718': {144.0}, 'MM719': {271.0}, 'MM721': {275.0}, 'MM723': {840.0}, 'MM724': {247.0}, 'MM725': {516.0, 439.0}, 'MM726': {395.0}, 'MM727': {175.0}, 'MM728': {171.0}, 'MM730': {326.0}, 'MM732': {200.0}, 'MM733': {315.0}, 'MM734': {178.0}, 'MM735': {240.0}, 'MM736': {246.0}, 'MM737': {191.0}, 'MM738': {149.0}, 'MM739': {372.0}, 'MM740': {197.0}, 'MM743': {174.0}, 'MM744': {150.0}, 'MM749': {196.0}, 'MM750': {182.0}, 'MM752': {257.0}, 'MM754': {197.0}, 'MM756': {53.0}, 'MM757': {292.0}, 'MM758': {359.0}, 'MM760': {228.0}, 'MM763': {190.0}, 'MM766': {318.0}, 'MM775': {147.0}, 'MM776': {254.0}, 'MM777': {174.0}, 'MM781': {355.0}, 'MM785': {178.0}, 'MM788': {214.0}, 'MM794': {202.0}, 'MM914': {195.0}, 'MM915': {308.0, 4357.0, 190.0}, 'MM803': {233.0}, 'MM804': {270.0}, 'MM805': {226.0}, 'MM958': {294.0}, 'MM808': {980.0}, 'MM920': {325.0}, 'MM809': {220.0}, 'MM903': {2845.0}, 'MM810': {307.0, 172.0}, 'MM811': {244.0}, 'MM812': {314.0, 949.0, 1070.0}, 'MM904': {201.0}, 'MM814': {166.0}, 'MM815': {4324.0}, 'MM905': {354.0}, 'MM816': {178.0}, 'MM818': {1129.0}, 'MM819': {300.0}, 'MM855': {796.0}, 'MM822': {227.0}, 'MM824': {571.0}, 'MM825': {353.0}, 'MM828': {165.0}, 'MM829': {225.0}, 'MM944': {1577.0}, 'MM832': {368.0}, 'MM930': {322.0, 371.0}, 'MM833': {261.0}, 'MM834': {204.0}, 'MM843': {841.0}, 'MM836': {786.0, 844.0}, 'MM837': {203.0}, 'MM838': {336.0, 244.0}}

In [6]:
idToDays

{'MM1': {343.0},
 'MM10': {171.0, 347.0},
 'MM102': {234.0, 309.0},
 'MM103': {673.0, 1454.0, 1532.0},
 'MM104': {162.0},
 'MM105': {189.0},
 'MM106': {243.0},
 'MM107': {426.0},
 'MM108': {366.0, 429.0, 2038.0},
 'MM109': {550.0},
 'MM110': {484.0},
 'MM112': {288.0, 356.0},
 'MM113': {3559.0},
 'MM114': {250.0},
 'MM115': {180.0},
 'MM116': {250.0},
 'MM117': {289.0},
 'MM118': {221.0},
 'MM12': {318.0},
 'MM123': {200.0},
 'MM124': {1036.0},
 'MM125': {1326.0},
 'MM126': {208.0},
 'MM127': {224.0},
 'MM128': {217.0},
 'MM129': {582.0},
 'MM13': {165.0},
 'MM130': {230.0, 2532.0},
 'MM131': {279.0},
 'MM132': {220.0, 1187.0, 1254.0},
 'MM133': {214.0, 2741.0},
 'MM134': {2257.0},
 'MM135': {206.0},
 'MM136': {327.0, 432.0},
 'MM138': {168.0},
 'MM139': {427.0},
 'MM140': {1112.0},
 'MM141': {335.0},
 'MM142': {281.0, 1307.0},
 'MM143': {399.0},
 'MM144': {520.0},
 'MM145': {303.0},
 'MM146': {283.0},
 'MM149': {183.0, 2181.0},
 'MM15': {3363.0},
 'MM150': {201.0},
 'MM151': {1081.0},
 'MM152': {281.0},
 'MM153': {463.0, 538.0},
 'MM154': {598.0},
 'MM155': {2141.0, 2255.0},
 'MM156': {630.0},
 'MM158': {316.0, 1036.0},
 'MM159': {283.0, 3772.0},
 'MM160': {682.0},
 'MM162': {565.0},
 'MM163': {1452.0},
 'MM165': {323.0},
 'MM166': {257.0, 327.0},
 'MM167': {285.0},
 'MM168': {183.0},
 'MM169': {329.0, 2173.0},
 'MM17': {183.0},
 'MM170': {606.0, 667.0},
 'MM172': {307.0, 1570.0},
 'MM173': {267.0, 427.0},
 'MM174': {216.0},
 'MM176': {1464.0},
 'MM177': {1027.0},
 'MM179': {457.0, 696.0},
 'MM18': {236.0, 1240.0, 1306.0},
 'MM180': {319.0},
 'MM181': {392.0},
 'MM183': {1112.0},
 'MM184': {3177.0},
 'MM185': {139.0},
 'MM188': {324.0},
 'MM189': {388.0},
 'MM19': {432.0},
 'MM190': {754.0},
 'MM191': {950.0},
 'MM193': {325.0},
 'MM195': {553.0},
 'MM196': {192.0},
 'MM197': {309.0},
 'MM198': {204.0},
 'MM2': {229.0},
 'MM20': {3065.0, 3193.0},
 'MM200': {292.0},
 'MM201': {780.0, 947.0},
 'MM202': {552.0, 743.0},
 'MM203': {192.0},
 'MM205': {181.0, 1204.0, 1299.0},
 'MM206': {2343.0},
 'MM207': {589.0},
 'MM208': {380.0, 1929.0, 2353.0},
 'MM209': {208.0},
 'MM21': {181.0},
 'MM210': {196.0, 244.0},
 'MM211': {819.0},
 'MM212': {175.0, 233.0},
 'MM214': {626.0, 924.0},
 'MM215': {280.0, 424.0},
 'MM217': {164.0, 1151.0},
 'MM218': {315.0},
 'MM219': {197.0, 266.0},
 'MM22': {184.0},
 'MM220': {517.0},
 'MM221': {187.0, 293.0},
 'MM222': {441.0},
 'MM223': {584.0},
 'MM225': {763.0},
 'MM228': {983.0},
 'MM229': {700.0, 779.0},
 'MM23': {211.0},
 'MM230': {298.0, 362.0},
 'MM231': {230.0},
 'MM232': {3497.0},
 'MM233': {575.0},
 'MM234': {206.0},
 'MM235': {197.0},
 'MM237': {63.0, 132.0},
 'MM239': {209.0},
 'MM24': {865.0, 923.0},
 'MM240': {484.0, 1650.0, 1804.0},
 'MM243': {278.0},
 'MM245': {1812.0},
 'MM246': {301.0},
 'MM247': {196.0},
 'MM250': {272.0},
 'MM251': {233.0},
 'MM252': {859.0},
 'MM253': {197.0},
 'MM254': {234.0},
 'MM255': {277.0},
 'MM256': {661.0},
 'MM258': {815.0},
 'MM26': {1154.0},
 'MM260': {270.0, 328.0},
 'MM262': {537.0},
 'MM263': {172.0},
 'MM264': {1099.0},
 'MM266': {229.0},
 'MM267': {201.0},
 'MM268': {686.0},
 'MM269': {528.0},
 'MM271': {237.0, 289.0},
 'MM272': {205.0},
 'MM273': {636.0},
 'MM274': {238.0, 2541.0},
 'MM276': {449.0},
 'MM277': {269.0, 2204.0},
 'MM278': {2323.0},
 'MM279': {261.0},
 'MM28': {2543.0},
 'MM280': {248.0, 367.0},
 'MM282': {229.0, 1140.0, 1190.0},
 'MM283': {205.0, 2297.0, 2907.0},
 'MM284': {236.0},
 'MM285': {2049.0},
 'MM286': {249.0},
 'MM287': {189.0},
 'MM288': {274.0, 398.0},
 'MM289': {852.0},
 'MM29': {251.0, 3677.0},
 'MM291': {311.0, 2722.0},
 'MM293': {416.0},
 'MM295': {1615.0},
 'MM296': {293.0},
 'MM301': {379.0},
 'MM303': {385.0},
 'MM304': {182.0},
 'MM305': {197.0},
 'MM306': {497.0},
 'MM308': {498.0, 571.0},
 'MM309': {316.0, 374.0},
 'MM310': {237.0},
 'MM312': {122.0},
 'MM313': {169.0},
 'MM314': {199.0},
 'MM315': {430.0},
 'MM316': {285.0},
 'MM317': {297.0},
 'MM319': {707.0},
 'MM32': {247.0},
 'MM320': {772.0, 1955.0},
 'MM321': {633.0},
 'MM322': {298.0},
 'MM324': {206.0, 427.0},
 'MM325': {142.0},
 'MM327': {316.0},
 'MM328': {382.0},
 'MM329': {166.0},
 'MM33': {265.0},
 'MM330': {180.0},
 'MM331': {266.0},
 'MM334': {175.0, 350.0},
 'MM335': {243.0},
 'MM336': {260.0},
 'MM337': {437.0},
 'MM338': {303.0},
 'MM339': {457.0, 532.0},
 'MM340': {208.0},
 'MM341': {205.0},
 'MM343': {194.0, 651.0},
 'MM344': {233.0},
 'MM345': {301.0, 362.0},
 'MM346': {196.0},
 'MM347': {1502.0},
 'MM348': {349.0},
 'MM349': {184.0},
 'MM35': {339.0, 446.0},
 'MM350': {478.0, 631.0},
 'MM351': {502.0, 619.0},
 'MM352': {225.0},
 'MM353': {227.0, 579.0},
 'MM354': {329.0},
 'MM355': {206.0},
 'MM356': {466.0},
 'MM357': {172.0, 251.0},
 'MM358': {74.0},
 'MM359': {243.0},
 'MM360': {405.0},
 'MM361': {357.0},
 'MM362': {286.0},
 'MM364': {673.0},
 'MM365': {216.0},
 'MM366': {894.0, 1591.0, 1647.0},
 'MM367': {389.0},
 'MM368': {306.0},
 'MM369': {142.0},
 'MM37': {223.0},
 'MM370': {237.0},
 'MM371': {171.0},
 'MM373': {370.0},
 'MM374': {252.0, 322.0},
 'MM375': {199.0},
 'MM376': {409.0},
 'MM377': {251.0},
 'MM378': {199.0},
 'MM379': {474.0},
 'MM38': {1902.0},
 'MM380': {358.0},
 'MM384': {205.0},
 'MM385': {266.0},
 'MM386': {774.0},
 'MM388': {235.0, 342.0},
 'MM389': {231.0},
 'MM39': {273.0},
 'MM390': {214.0},
 'MM393': {350.0},
 'MM394': {385.0},
 'MM395': {359.0},
 'MM399': {594.0},
 'MM4': {425.0},
 'MM40': {157.0},
 'MM400': {453.0, 575.0},
 'MM401': {266.0},
 'MM402': {144.0},
 'MM403': {164.0},
 'MM405': {251.0},
 'MM408': {612.0, 708.0},
 'MM409': {224.0},
 'MM41': {1345.0},
 'MM410': {194.0},
 'MM411': {449.0},
 'MM412': {364.0},
 'MM415': {176.0},
 'MM416': {158.0},
 'MM417': {432.0},
 'MM418': {320.0},
 'MM419': {237.0},
 'MM420': {261.0},
 'MM421': {223.0},
 'MM424': {375.0},
 'MM425': {244.0},
 'MM426': {310.0},
 'MM427': {301.0},
 'MM428': {196.0},
 'MM429': {330.0},
 'MM430': {248.0, 499.0, 540.0},
 'MM431': {151.0},
 'MM433': {165.0},
 'MM434': {749.0},
 'MM435': {206.0},
 'MM437': {285.0},
 'MM438': {196.0},
 'MM440': {246.0},
 'MM441': {345.0, 1951.0},
 'MM442': {364.0},
 'MM443': {960.0},
 'MM446': {172.0},
 'MM447': {300.0},
 'MM448': {773.0},
 'MM45': {392.0, 1509.0},
 'MM450': {544.0},
 'MM451': {161.0},
 'MM453': {336.0, 421.0},
 'MM455': {206.0},
 'MM456': {600.0, 648.0},
 'MM458': {1985.0},
 'MM459': {253.0, 1352.0, 1401.0},
 'MM46': {170.0},
 'MM461': {1964.0},
 'MM463': {1196.0},
 'MM464': {1481.0},
 'MM465': {236.0},
 'MM466': {200.0},
 'MM467': {448.0},
 'MM468': {181.0},
 'MM469': {358.0},
 'MM47': {253.0},
 'MM470': {196.0},
 'MM471': {1143.0},
 'MM472': {247.0},
 'MM473': {251.0},
 'MM474': {160.0, 211.0},
 'MM475': {207.0, 1502.0},
 'MM476': {249.0},
 'MM477': {313.0},
 'MM478': {787.0},
 'MM479': {1015.0},
 'MM480': {189.0},
 'MM481': {172.0},
 'MM482': {243.0},
 'MM485': {222.0},
 'MM488': {340.0},
 'MM489': {228.0},
 'MM490': {554.0},
 'MM492': {276.0},
 'MM493': {228.0},
 'MM496': {196.0},
 'MM497': {327.0},
 'MM498': {1009.0},
 'MM5': {416.0},
 'MM501': {1196.0},
 'MM502': {1635.0},
 'MM503': {204.0},
 'MM506': {165.0},
 'MM507': {1029.0},
 'MM508': {276.0},
 'MM509': {267.0},
 'MM51': {3112.0},
 'MM510': {289.0},
 'MM511': {342.0},
 'MM512': {422.0},
 'MM513': {214.0},
 'MM514': {481.0},
 'MM517': {195.0, 432.0},
 'MM518': {186.0},
 'MM52': {209.0, 2083.0},
 'MM520': {257.0},
 'MM523': {151.0},
 'MM524': {160.0},
 'MM525': {391.0, 1414.0},
 'MM527': {205.0},
 'MM528': {302.0},
 'MM529': {251.0},
 'MM53': {4191.0},
 'MM530': {215.0, 342.0},
 'MM531': {279.0},
 'MM532': {216.0},
 'MM534': {279.0},
 'MM535': {477.0},
 'MM538': {602.0},
 'MM539': {252.0, 797.0},
 'MM54': {553.0},
 'MM541': {198.0},
 'MM542': {882.0},
 'MM543': {174.0},
 'MM545': {145.0, 203.0},
 'MM546': {264.0},
 'MM547': {354.0},
 'MM549': {1336.0},
 'MM55': {369.0},
 'MM550': {333.0},
 'MM551': {390.0},
 'MM552': {136.0, 203.0},
 'MM553': {828.0},
 'MM554': {132.0, 703.0, 777.0},
 'MM555': {206.0},
 'MM556': {350.0},
 'MM559': {254.0},
 'MM56': {3421.0},
 'MM560': {324.0},
 'MM563': {223.0},
 'MM564': {225.0},
 'MM565': {290.0, 354.0},
 'MM566': {370.0},
 'MM567': {172.0},
 'MM568': {167.0},
 'MM569': {182.0},
 'MM57': {1787.0},
 'MM572': {488.0},
 'MM573': {183.0},
 'MM574': {279.0},
 'MM577': {423.0},
 'MM578': {364.0, 424.0},
 'MM58': {168.0},
 'MM581': {304.0},
 'MM582': {182.0},
 'MM584': {206.0},
 'MM585': {352.0},
 'MM586': {235.0, 313.0},
 'MM587': {381.0},
 'MM588': {143.0, 284.0},
 'MM589': {2658.0, 4178.0},
 'MM590': {320.0},
 'MM591': {261.0},
 'MM593': {396.0},
 'MM594': {289.0},
 'MM595': {191.0},
 'MM597': {388.0},
 'MM598': {161.0},
 'MM599': {256.0},
 'MM6': {657.0},
 'MM600': {432.0, 558.0},
 'MM601': {309.0},
 'MM602': {199.0},
 'MM603': {290.0},
 'MM606': {236.0},
 'MM607': {141.0},
 'MM608': {332.0, 427.0},
 'MM609': {241.0, 319.0},
 'MM61': {193.0},
 'MM610': {241.0},
 'MM611': {808.0},
 'MM612': {409.0},
 'MM613': {339.0},
 'MM614': {248.0},
 'MM617': {410.0},
 'MM618': {246.0},
 'MM620': {501.0},
 'MM622': {153.0, 429.0},
 'MM623': {266.0},
 'MM624': {340.0},
 'MM625': {451.0},
 'MM626': {143.0},
 'MM627': {239.0},
 'MM628': {393.0},
 'MM629': {313.0},
 'MM63': {619.0},
 'MM630': {203.0},
 'MM631': {800.0},
 'MM633': {198.0},
 'MM634': {280.0},
 'MM635': {283.0},
 'MM636': {322.0},
 'MM639': {189.0, 325.0},
 'MM64': {333.0},
 'MM640': {166.0},
 'MM642': {232.0},
 'MM643': {2130.0},
 'MM644': {283.0},
 'MM645': {219.0},
 'MM646': {333.0},
 'MM647': {367.0},
 'MM649': {349.0},
 'MM65': {273.0, 336.0},
 'MM650': {222.0},
 'MM652': {143.0},
 'MM656': {296.0},
 'MM658': {824.0},
 'MM659': {218.0},
 'MM66': {196.0},
 'MM661': {178.0},
 'MM662': {357.0},
 'MM663': {466.0},
 'MM664': {276.0},
 'MM665': {212.0},
 'MM666': {326.0},
 'MM668': {189.0},
 'MM669': {224.0},
 'MM67': {1622.0},
 'MM670': {195.0},
 'MM671': {248.0},
 'MM673': {194.0},
 'MM674': {364.0},
 'MM677': {3.0, 154.0},
 'MM678': {325.0},
 'MM68': {772.0, 855.0},
 'MM680': {428.0},
 'MM682': {206.0},
 'MM683': {310.0},
 'MM685': {175.0},
 'MM687': {387.0},
 'MM688': {191.0},
 'MM689': {300.0},
 'MM69': {252.0, 727.0},
 'MM690': {316.0},
 'MM691': {251.0},
 'MM692': {251.0},
 'MM693': {168.0},
 'MM694': {1066.0},
 'MM698': {239.0},
 'MM699': {269.0},
 'MM7': {203.0, 259.0},
 'MM70': {200.0, 335.0},
 'MM702': {225.0},
 'MM704': {182.0},
 'MM706': {234.0},
 'MM709': {229.0},
 'MM71': {233.0},
 'MM710': {200.0, 259.0},
 'MM713': {433.0},
 'MM714': {233.0, 308.0, 557.0},
 'MM715': {2280.0},
 'MM716': {298.0},
 'MM717': {176.0},
 'MM718': {144.0},
 'MM719': {271.0},
 'MM72': {356.0, 3679.0},
 'MM721': {275.0},
 'MM723': {840.0},
 'MM724': {247.0},
 'MM725': {439.0, 516.0},
 'MM726': {395.0},
 'MM727': {175.0},
 'MM728': {171.0},
 'MM73': {293.0, 2229.0, 2336.0},
 'MM730': {326.0},
 'MM732': {200.0},
 'MM733': {315.0},
 'MM734': {178.0},
 'MM735': {240.0},
 'MM736': {246.0},
 'MM737': {191.0},
 'MM738': {149.0},
 'MM739': {372.0},
 'MM740': {197.0},
 'MM743': {174.0},
 'MM744': {150.0},
 'MM749': {196.0},
 'MM75': {211.0},
 'MM750': {182.0},
 'MM752': {257.0},
 'MM754': {197.0},
 'MM756': {53.0},
 'MM757': {292.0},
 'MM758': {359.0},
 'MM76': {318.0},
 'MM760': {228.0},
 'MM763': {190.0},
 'MM766': {318.0},
 'MM77': {725.0, 887.0, 2283.0},
 'MM775': {147.0},
 'MM776': {254.0},
 'MM777': {174.0},
 'MM78': {303.0},
 'MM781': {355.0},
 'MM785': {178.0},
 'MM788': {214.0},
 'MM79': {746.0, 2895.0},
 'MM794': {202.0},
 'MM8': {541.0},
 'MM80': {224.0, 1331.0},
 'MM803': {233.0},
 'MM804': {270.0},
 'MM805': {226.0},
 'MM808': {980.0},
 'MM809': {220.0},
 'MM81': {194.0, 258.0},
 'MM810': {172.0, 307.0},
 'MM811': {244.0},
 'MM812': {314.0, 949.0, 1070.0},
 'MM814': {166.0},
 'MM815': {4324.0},
 'MM816': {178.0},
 'MM818': {1129.0},
 'MM819': {300.0},
 'MM82': {218.0, 337.0},
 'MM822': {227.0},
 'MM824': {571.0},
 'MM825': {353.0},
 'MM828': {165.0},
 'MM829': {225.0},
 'MM832': {368.0},
 'MM833': {261.0},
 'MM834': {204.0},
 'MM836': {786.0, 844.0},
 'MM837': {203.0},
 'MM838': {244.0, 336.0},
 'MM84': {252.0},
 'MM840': {368.0},
 'MM842': {237.0},
 'MM843': {841.0},
 'MM844': {818.0, 976.0},
 'MM846': {253.0},
 'MM848': {285.0},
 'MM852': {652.0, 953.0},
 'MM855': {796.0},
 'MM856': {496.0},
 'MM857': {234.0, 571.0},
 'MM859': {468.0, 546.0},
 'MM86': {216.0},
 'MM860': {713.0},
 'MM861': {156.0},
 'MM862': {1072.0, 1952.0},
 'MM863': {2370.0},
 'MM864': {2014.0},
 'MM866': {283.0},
 'MM867': {237.0, 291.0},
 'MM868': {226.0, 2022.0},
 'MM869': {249.0},
 'MM87': {228.0, 299.0},
 'MM870': {392.0},
 'MM871': {376.0, 585.0},
 'MM872': {176.0},
 'MM873': {287.0, 365.0},
 'MM875': {204.0},
 'MM876': {316.0},
 'MM877': {489.0, 1283.0, 1463.0},
 'MM878': {234.0},
 'MM879': {352.0},
 'MM88': {205.0, 2233.0},
 'MM880': {246.0, 343.0},
 'MM881': {265.0},
 'MM882': {828.0},
 'MM883': {400.0, 700.0},
 'MM884': {234.0},
 'MM885': {389.0},
 'MM886': {258.0},
 'MM887': {308.0},
 'MM888': {490.0},
 'MM889': {195.0},
 'MM89': {265.0},
 'MM890': {616.0},
 'MM891': {245.0},
 'MM892': {198.0, 377.0, 443.0},
 'MM893': {253.0},
 'MM894': {329.0, 1091.0},
 'MM897': {507.0, 1596.0},
 'MM90': {293.0},
 'MM901': {284.0},
 'MM903': {2845.0},
 'MM904': {201.0},
 'MM905': {354.0},
 'MM908': {138.0},
 'MM909': {266.0},
 'MM91': {2562.0},
 'MM914': {195.0},
 'MM915': {190.0, 308.0, 4357.0},
 'MM918': {1348.0},
 'MM919': {203.0},
 'MM92': {208.0, 323.0},
 'MM920': {325.0},
 'MM922': {199.0, 1298.0},
 'MM923': {209.0},
 'MM924': {226.0, 321.0},
 'MM925': {87.0},
 'MM926': {253.0},
 'MM927': {206.0, 312.0},
 'MM929': {405.0},
 'MM93': {426.0, 1461.0},
 'MM930': {322.0, 371.0},
 'MM931': {341.0},
 'MM932': {196.0},
 'MM934': {457.0, 793.0},
 'MM936': {324.0},
 'MM937': {-198.0},
 'MM938': {1027.0},
 'MM939': {221.0},
 'MM940': {253.0},
 'MM941': {516.0},
 'MM942': {183.0, 2486.0, 3067.0},
 'MM943': {232.0, 525.0},
 'MM944': {1577.0},
 'MM945': {186.0},
 'MM946': {3584.0, 3721.0},
 'MM947': {341.0},
 'MM948': {192.0},
 'MM949': {220.0},
 'MM950': {190.0, 269.0},
 'MM951': {553.0},
 'MM952': {345.0},
 'MM953': {101.0, 150.0},
 'MM954': {147.0, 222.0},
 'MM955': {1220.0, 2268.0},
 'MM957': {354.0},
 'MM958': {294.0},
 'MM959': {750.0},
 'MM96': {182.0, 246.0},
 'MM960': {2412.0},
 'MM961': {693.0},
 'MM962': {1458.0},
 'MM963': {323.0},
 'MM966': {235.0},
 'MM969': {220.0, 1585.0},
 'MM971': {215.0, 2303.0},
 'MM973': {424.0},
 'MM974': {3505.0},
 'MM975': {262.0},
 'MM976': {689.0},
 'MM979': {293.0},
 'MM98': {1819.0, 2963.0},
 'MM980': {230.0},
 'MM981': {616.0},
 'MM982': {1346.0},
 'MM984': {1164.0},
 'MM985': {247.0},
 'MM986': {500.0},
 'MM99': {282.0}}

In [7]:
data = pd.read_csv('BillingCodes.csv')

In [8]:
data

           ID  ...                                      CCSLevel3Name
0         MM1  ...                            Cancer of thyroid [36.]
1         MM1  ...                            Cancer of thyroid [36.]
2         MM1  ...                            Cancer of thyroid [36.]
3         MM1  ...  Other and unspecified metabolic; nutritional; ...
4         MM1  ...                          Allergic reactions [253.]
...       ...  ...                                                ...
365050  MM838  ...                                           No Value
365051  MM838  ...                             Multiple myeloma [40.]
365052  MM838  ...                                           No Value
365053  MM838  ...              Medical examination/evaluation [256.]
365054  MM838  ...                                           No Value

[365055 rows x 8 columns]

In [9]:
# we think fracture will be one of the word in the string of
# DxDescription, CCSLevel1Name, CCSLevel2Name, CCSLevel3Name
# Let's get those rows where there any of the 4 columns
# contain the word 'fracture'.

# define a function such that given a row, return true if that row contains
# the word fracture in one of its 4 columns
def doesRowContainFracture(row):
  return (isinstance(row['DxDescription'], str) and 'Fracture'.lower() in row['DxDescription'].lower()) or \
         (isinstance(row['CCSLevel1Name'], str) and 'Fracture'.lower() in row['CCSLevel1Name'].lower()) or \
         (isinstance(row['CCSLevel2Name'], str) and 'Fracture'.lower() in row['CCSLevel2Name'].lower()) or \
         (isinstance(row['CCSLevel3Name'], str) and 'Fracture'.lower() in row['CCSLevel3Name'].lower())

In [10]:
# get rows with word fracture in them.
data_fracture = data[data.apply(doesRowContainFracture, axis = 1)]

In [11]:
data_fracture

           ID  ...           CCSLevel3Name
469       MM2  ...  Other fractures [231.]
656       MM3  ...                No Value
657       MM3  ...                No Value
658       MM3  ...                No Value
740       MM4  ...                No Value
...       ...  ...                     ...
360199  MM843  ...  Other fractures [231.]
360421  MM843  ...  Other fractures [231.]
360447  MM843  ...  Other fractures [231.]
360478  MM843  ...  Other fractures [231.]
360492  MM843  ...  Other fractures [231.]

[2078 rows x 8 columns]

In [12]:
# delete some fracture data that is not pathlogical.
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'encounter for removal of internal fixation device' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'follow-up examination, following treatment of healed fracture' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'open wound of tooth (broken) (fractured) (due to trauma), without mention of complication' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'other aftercare involving internal fixation device' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'other osteoporosis without current pathological fracture' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'osteoporosis without current pathological fracture' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'tooth' not in x.lower())]
data_fracture = data_fracture[data_fracture['DxDescription'].apply(lambda x: 'personal history of (healed) traumatic fracture' not in x.lower())]
data_fracture = data_fracture[data_fracture['CCSLevel2Name'].apply(lambda x: 'other injuries and conditions due to external causes' not in x.lower())]

In [13]:
data_fracture

           ID  DaysFromDx  ...                 CCSLevel2Name           CCSLevel3Name
469       MM2       -5558  ...                     Fractures  Other fractures [231.]
656       MM3         101  ...  Pathological fracture [207.]                No Value
657       MM3         194  ...  Pathological fracture [207.]                No Value
658       MM3           0  ...  Pathological fracture [207.]                No Value
2282      MM7           7  ...  Pathological fracture [207.]                No Value
...       ...         ...  ...                           ...                     ...
360199  MM843         190  ...                     Fractures  Other fractures [231.]
360421  MM843         324  ...                     Fractures  Other fractures [231.]
360447  MM843         239  ...                     Fractures  Other fractures [231.]
360478  MM843         415  ...                     Fractures  Other fractures [231.]
360492  MM843         275  ...                     Fractures  Other fractures [231.]

[1797 rows x 8 columns]

In [23]:
data_fracture[data_fracture['ID'] == 'MM3']

      ID  DaysFromDx  ...                 CCSLevel2Name CCSLevel3Name
656  MM3         101  ...  Pathological fracture [207.]      No Value
657  MM3         194  ...  Pathological fracture [207.]      No Value
658  MM3           0  ...  Pathological fracture [207.]      No Value

[3 rows x 8 columns]

In [30]:
data_fracture[data_fracture['ID'] == 'MM3']['DaysFromDx'].values

array([101, 194,   0])

In [50]:
# ex1. patient_fracture_days = [101, 194, 0]
# STC_days = {229, 1000, 3000}
# -> return None because no fracture are within 365 days of any STC ays

# ex2. patient_fracture_days = [300, 194, 0]
# STC_days = {229, 3000, 1000}
# -> return 229 since 300 is within 365 days.

# return the smallest STC_day such taht within 365 days of that
# there is a fracture, if there is none such days, return None
# assume sortedness of STC
def STC_day_of_fracture(STC_days, fracture_days):
  STC_days_list = sorted(list(STC_days))
  for day in STC_days_list:
      upper_limit = day + 365
      lower_limit = day
      for fracture_day in fracture_days:
        if fracture_day >= lower_limit and fracture_day <= upper_limit:
          return day
  return None

In [52]:
# some unit tests
assert STC_day_of_fracture({229, 3000, 1000}, [100, 200 , -11]) == None
assert STC_day_of_fracture({229, 3000, 1000}, [100, 300 , -11]) == 229
assert STC_day_of_fracture({229, 3000, 1000}, [100, 300 , 3200]) == 229
assert STC_day_of_fracture({229, 3000, 1000}, [100, 3100 , 3200]) == 3000
assert STC_day_of_fracture({229, 3000, 1000}, [100, 3366]) == None
assert STC_day_of_fracture({229, 3000, 1000}, [1100, 3300]) == 1000

In [53]:
fractureList = [] # [['MM1', 300 (day of STC), 0 (no fracture)], ...]

for ID in idToDays: # for every patient who took STC:
  if ID not in data_fracture['ID'].unique(): # if they are not in the dataframe
    # it means they don't have fracture after STC. put 0 there
    fractureList.append([ID, sorted(list(idToDays[ID]))[0], 0])
  else:
    patient_fracture_days = data_fracture[data_fracture['ID'] == ID]['DaysFromDx'].values
    # patient_fracture_days = [101, 194, 0]
    STC_days = idToDays[ID]
    # STC_days = {200, 300, ..}
    STC_day_that_produces_fracture = STC_day_of_fracture(STC_days, patient_fracture_days)
    
    if STC_day_that_produces_fracture is not None:
      fractureList.append([ID, STC_day_that_produces_fracture, 1])
    else:
      fractureList.append([ID, sorted(list(idToDays[ID]))[0], 0])

In [56]:
df_result = pd.DataFrame(data = fractureList, columns= ['ID', 'STC_day', 'HasFracture?'])

In [57]:
df_result

        ID  STC_day  HasFracture?
0      MM1    343.0             0
1      MM2    229.0             0
2      MM4    425.0             0
3      MM5    416.0             0
4      MM6    657.0             0
..     ...      ...           ...
697  MM834    204.0             0
698  MM843    841.0             0
699  MM836    786.0             0
700  MM837    203.0             0
701  MM838    244.0             0

[702 rows x 3 columns]

In [58]:
df_result['HasFracture?'].sum()

131

We used to have about 120 patients with fracture, now we have 131.

In [64]:
df_result[['ID', 'STC_day']].to_csv('STC_Days.csv', index = False)

In [67]:
df_result[['ID', 'HasFracture?']].to_csv('Fractures.csv', index = False)

#3. remake labs, medications, and leisions data

Because our STC_days changed due to our process of finding whether there is fracture within any STC_days, we need to update some datasets that depend on the STC_data.

## 3.1 make labs data

In [73]:
data_STC_days = pd.read_csv('STC_Days.csv')

In [74]:
data_STC_days

        ID  STC_day
0      MM1    343.0
1      MM2    229.0
2      MM4    425.0
3      MM5    416.0
4      MM6    657.0
..     ...      ...
697  MM834    204.0
698  MM843    841.0
699  MM836    786.0
700  MM837    203.0
701  MM838    244.0

[702 rows x 2 columns]

Need to convert this dataframe into a dictionary, because the later code expects a dictionary, not a dataframe.

In [84]:
patientToDayOfSTC = dict()

In [81]:
data_STC_days.iloc[0].values[0]

'MM1'

In [82]:
data_STC_days.iloc[0].values[1]

343.0

In [85]:
for i in range(data_STC_days.shape[0]):
  ID = data_STC_days.iloc[i].values[0]
  day = data_STC_days.iloc[i].values[1]
  patientToDayOfSTC[ID] = day

In [86]:
patientToDayOfSTC

{'MM1': 343.0,
 'MM10': 171.0,
 'MM102': 234.0,
 'MM103': 673.0,
 'MM104': 162.0,
 'MM105': 189.0,
 'MM106': 243.0,
 'MM107': 426.0,
 'MM108': 366.0,
 'MM109': 550.0,
 'MM110': 484.0,
 'MM112': 288.0,
 'MM113': 3559.0,
 'MM114': 250.0,
 'MM115': 180.0,
 'MM116': 250.0,
 'MM117': 289.0,
 'MM118': 221.0,
 'MM12': 318.0,
 'MM123': 200.0,
 'MM124': 1036.0,
 'MM125': 1326.0,
 'MM126': 208.0,
 'MM127': 224.0,
 'MM128': 217.0,
 'MM129': 582.0,
 'MM13': 165.0,
 'MM130': 230.0,
 'MM131': 279.0,
 'MM132': 220.0,
 'MM133': 214.0,
 'MM134': 2257.0,
 'MM135': 206.0,
 'MM136': 327.0,
 'MM138': 168.0,
 'MM139': 427.0,
 'MM140': 1112.0,
 'MM141': 335.0,
 'MM142': 281.0,
 'MM143': 399.0,
 'MM144': 520.0,
 'MM145': 303.0,
 'MM146': 283.0,
 'MM149': 183.0,
 'MM15': 3363.0,
 'MM150': 201.0,
 'MM151': 1081.0,
 'MM152': 281.0,
 'MM153': 463.0,
 'MM154': 598.0,
 'MM155': 2141.0,
 'MM156': 630.0,
 'MM158': 316.0,
 'MM159': 283.0,
 'MM160': 682.0,
 'MM162': 565.0,
 'MM163': 1452.0,
 'MM165': 323.0,
 'MM166': 257.0,
 'MM167': 285.0,
 'MM168': 183.0,
 'MM169': 329.0,
 'MM17': 183.0,
 'MM170': 606.0,
 'MM172': 307.0,
 'MM173': 267.0,
 'MM174': 216.0,
 'MM176': 1464.0,
 'MM177': 1027.0,
 'MM179': 457.0,
 'MM18': 236.0,
 'MM180': 319.0,
 'MM181': 392.0,
 'MM183': 1112.0,
 'MM184': 3177.0,
 'MM185': 139.0,
 'MM188': 324.0,
 'MM189': 388.0,
 'MM19': 432.0,
 'MM190': 754.0,
 'MM191': 950.0,
 'MM193': 325.0,
 'MM195': 553.0,
 'MM196': 192.0,
 'MM197': 309.0,
 'MM198': 204.0,
 'MM2': 229.0,
 'MM20': 3065.0,
 'MM200': 292.0,
 'MM201': 780.0,
 'MM202': 552.0,
 'MM203': 192.0,
 'MM205': 1204.0,
 'MM206': 2343.0,
 'MM207': 589.0,
 'MM208': 380.0,
 'MM209': 208.0,
 'MM21': 181.0,
 'MM210': 196.0,
 'MM211': 819.0,
 'MM212': 175.0,
 'MM214': 626.0,
 'MM215': 280.0,
 'MM217': 164.0,
 'MM218': 315.0,
 'MM219': 197.0,
 'MM22': 184.0,
 'MM220': 517.0,
 'MM221': 187.0,
 'MM222': 441.0,
 'MM223': 584.0,
 'MM225': 763.0,
 'MM228': 983.0,
 'MM229': 700.0,
 'MM23': 211.0,
 'MM230': 298.0,
 'MM231': 230.0,
 'MM232': 3497.0,
 'MM233': 575.0,
 'MM234': 206.0,
 'MM235': 197.0,
 'MM237': 63.0,
 'MM239': 209.0,
 'MM24': 865.0,
 'MM240': 484.0,
 'MM243': 278.0,
 'MM245': 1812.0,
 'MM246': 301.0,
 'MM247': 196.0,
 'MM250': 272.0,
 'MM251': 233.0,
 'MM252': 859.0,
 'MM253': 197.0,
 'MM254': 234.0,
 'MM255': 277.0,
 'MM256': 661.0,
 'MM258': 815.0,
 'MM26': 1154.0,
 'MM260': 270.0,
 'MM262': 537.0,
 'MM263': 172.0,
 'MM264': 1099.0,
 'MM266': 229.0,
 'MM267': 201.0,
 'MM268': 686.0,
 'MM269': 528.0,
 'MM271': 237.0,
 'MM272': 205.0,
 'MM273': 636.0,
 'MM274': 238.0,
 'MM276': 449.0,
 'MM277': 269.0,
 'MM278': 2323.0,
 'MM279': 261.0,
 'MM28': 2543.0,
 'MM280': 248.0,
 'MM282': 229.0,
 'MM283': 205.0,
 'MM284': 236.0,
 'MM285': 2049.0,
 'MM286': 249.0,
 'MM287': 189.0,
 'MM288': 398.0,
 'MM289': 852.0,
 'MM29': 3677.0,
 'MM291': 311.0,
 'MM293': 416.0,
 'MM295': 1615.0,
 'MM296': 293.0,
 'MM301': 379.0,
 'MM303': 385.0,
 'MM304': 182.0,
 'MM305': 197.0,
 'MM306': 497.0,
 'MM308': 498.0,
 'MM309': 316.0,
 'MM310': 237.0,
 'MM312': 122.0,
 'MM313': 169.0,
 'MM314': 199.0,
 'MM315': 430.0,
 'MM316': 285.0,
 'MM317': 297.0,
 'MM319': 707.0,
 'MM32': 247.0,
 'MM320': 772.0,
 'MM321': 633.0,
 'MM322': 298.0,
 'MM324': 206.0,
 'MM325': 142.0,
 'MM327': 316.0,
 'MM328': 382.0,
 'MM329': 166.0,
 'MM33': 265.0,
 'MM330': 180.0,
 'MM331': 266.0,
 'MM334': 175.0,
 'MM335': 243.0,
 'MM336': 260.0,
 'MM337': 437.0,
 'MM338': 303.0,
 'MM339': 457.0,
 'MM340': 208.0,
 'MM341': 205.0,
 'MM343': 194.0,
 'MM344': 233.0,
 'MM345': 301.0,
 'MM346': 196.0,
 'MM347': 1502.0,
 'MM348': 349.0,
 'MM349': 184.0,
 'MM35': 339.0,
 'MM350': 478.0,
 'MM351': 502.0,
 'MM352': 225.0,
 'MM353': 227.0,
 'MM354': 329.0,
 'MM355': 206.0,
 'MM356': 466.0,
 'MM357': 172.0,
 'MM358': 74.0,
 'MM359': 243.0,
 'MM360': 405.0,
 'MM361': 357.0,
 'MM362': 286.0,
 'MM364': 673.0,
 'MM365': 216.0,
 'MM366': 894.0,
 'MM367': 389.0,
 'MM368': 306.0,
 'MM369': 142.0,
 'MM37': 223.0,
 'MM370': 237.0,
 'MM371': 171.0,
 'MM373': 370.0,
 'MM374': 252.0,
 'MM375': 199.0,
 'MM376': 409.0,
 'MM377': 251.0,
 'MM378': 199.0,
 'MM379': 474.0,
 'MM38': 1902.0,
 'MM380': 358.0,
 'MM384': 205.0,
 'MM385': 266.0,
 'MM386': 774.0,
 'MM388': 235.0,
 'MM389': 231.0,
 'MM39': 273.0,
 'MM390': 214.0,
 'MM393': 350.0,
 'MM394': 385.0,
 'MM395': 359.0,
 'MM399': 594.0,
 'MM4': 425.0,
 'MM40': 157.0,
 'MM400': 453.0,
 'MM401': 266.0,
 'MM402': 144.0,
 'MM403': 164.0,
 'MM405': 251.0,
 'MM408': 612.0,
 'MM409': 224.0,
 'MM41': 1345.0,
 'MM410': 194.0,
 'MM411': 449.0,
 'MM412': 364.0,
 'MM415': 176.0,
 'MM416': 158.0,
 'MM417': 432.0,
 'MM418': 320.0,
 'MM419': 237.0,
 'MM420': 261.0,
 'MM421': 223.0,
 'MM424': 375.0,
 'MM425': 244.0,
 'MM426': 310.0,
 'MM427': 301.0,
 'MM428': 196.0,
 'MM429': 330.0,
 'MM430': 248.0,
 'MM431': 151.0,
 'MM433': 165.0,
 'MM434': 749.0,
 'MM435': 206.0,
 'MM437': 285.0,
 'MM438': 196.0,
 'MM440': 246.0,
 'MM441': 345.0,
 'MM442': 364.0,
 'MM443': 960.0,
 'MM446': 172.0,
 'MM447': 300.0,
 'MM448': 773.0,
 'MM45': 392.0,
 'MM450': 544.0,
 'MM451': 161.0,
 'MM453': 336.0,
 'MM455': 206.0,
 'MM456': 600.0,
 'MM458': 1985.0,
 'MM459': 253.0,
 'MM46': 170.0,
 'MM461': 1964.0,
 'MM463': 1196.0,
 'MM464': 1481.0,
 'MM465': 236.0,
 'MM466': 200.0,
 'MM467': 448.0,
 'MM468': 181.0,
 'MM469': 358.0,
 'MM47': 253.0,
 'MM470': 196.0,
 'MM471': 1143.0,
 'MM472': 247.0,
 'MM473': 251.0,
 'MM474': 160.0,
 'MM475': 207.0,
 'MM476': 249.0,
 'MM477': 313.0,
 'MM478': 787.0,
 'MM479': 1015.0,
 'MM480': 189.0,
 'MM481': 172.0,
 'MM482': 243.0,
 'MM485': 222.0,
 'MM488': 340.0,
 'MM489': 228.0,
 'MM490': 554.0,
 'MM492': 276.0,
 'MM493': 228.0,
 'MM496': 196.0,
 'MM497': 327.0,
 'MM498': 1009.0,
 'MM5': 416.0,
 'MM501': 1196.0,
 'MM502': 1635.0,
 'MM503': 204.0,
 'MM506': 165.0,
 'MM507': 1029.0,
 'MM508': 276.0,
 'MM509': 267.0,
 'MM51': 3112.0,
 'MM510': 289.0,
 'MM511': 342.0,
 'MM512': 422.0,
 'MM513': 214.0,
 'MM514': 481.0,
 'MM517': 195.0,
 'MM518': 186.0,
 'MM52': 209.0,
 'MM520': 257.0,
 'MM523': 151.0,
 'MM524': 160.0,
 'MM525': 391.0,
 'MM527': 205.0,
 'MM528': 302.0,
 'MM529': 251.0,
 'MM53': 4191.0,
 'MM530': 215.0,
 'MM531': 279.0,
 'MM532': 216.0,
 'MM534': 279.0,
 'MM535': 477.0,
 'MM538': 602.0,
 'MM539': 252.0,
 'MM54': 553.0,
 'MM541': 198.0,
 'MM542': 882.0,
 'MM543': 174.0,
 'MM545': 145.0,
 'MM546': 264.0,
 'MM547': 354.0,
 'MM549': 1336.0,
 'MM55': 369.0,
 'MM550': 333.0,
 'MM551': 390.0,
 'MM552': 136.0,
 'MM553': 828.0,
 'MM554': 132.0,
 'MM555': 206.0,
 'MM556': 350.0,
 'MM559': 254.0,
 'MM56': 3421.0,
 'MM560': 324.0,
 'MM563': 223.0,
 'MM564': 225.0,
 'MM565': 290.0,
 'MM566': 370.0,
 'MM567': 172.0,
 'MM568': 167.0,
 'MM569': 182.0,
 'MM57': 1787.0,
 'MM572': 488.0,
 'MM573': 183.0,
 'MM574': 279.0,
 'MM577': 423.0,
 'MM578': 364.0,
 'MM58': 168.0,
 'MM581': 304.0,
 'MM582': 182.0,
 'MM584': 206.0,
 'MM585': 352.0,
 'MM586': 235.0,
 'MM587': 381.0,
 'MM588': 143.0,
 'MM589': 2658.0,
 'MM590': 320.0,
 'MM591': 261.0,
 'MM593': 396.0,
 'MM594': 289.0,
 'MM595': 191.0,
 'MM597': 388.0,
 'MM598': 161.0,
 'MM599': 256.0,
 'MM6': 657.0,
 'MM600': 432.0,
 'MM601': 309.0,
 'MM602': 199.0,
 'MM603': 290.0,
 'MM606': 236.0,
 'MM607': 141.0,
 'MM608': 332.0,
 'MM609': 241.0,
 'MM61': 193.0,
 'MM610': 241.0,
 'MM611': 808.0,
 'MM612': 409.0,
 'MM613': 339.0,
 'MM614': 248.0,
 'MM617': 410.0,
 'MM618': 246.0,
 'MM620': 501.0,
 'MM622': 153.0,
 'MM623': 266.0,
 'MM624': 340.0,
 'MM625': 451.0,
 'MM626': 143.0,
 'MM627': 239.0,
 'MM628': 393.0,
 'MM629': 313.0,
 'MM63': 619.0,
 'MM630': 203.0,
 'MM631': 800.0,
 'MM633': 198.0,
 'MM634': 280.0,
 'MM635': 283.0,
 'MM636': 322.0,
 'MM639': 189.0,
 'MM64': 333.0,
 'MM640': 166.0,
 'MM642': 232.0,
 'MM643': 2130.0,
 'MM644': 283.0,
 'MM645': 219.0,
 'MM646': 333.0,
 'MM647': 367.0,
 'MM649': 349.0,
 'MM65': 273.0,
 'MM650': 222.0,
 'MM652': 143.0,
 'MM656': 296.0,
 'MM658': 824.0,
 'MM659': 218.0,
 'MM66': 196.0,
 'MM661': 178.0,
 'MM662': 357.0,
 'MM663': 466.0,
 'MM664': 276.0,
 'MM665': 212.0,
 'MM666': 326.0,
 'MM668': 189.0,
 'MM669': 224.0,
 'MM67': 1622.0,
 'MM670': 195.0,
 'MM671': 248.0,
 'MM673': 194.0,
 'MM674': 364.0,
 'MM677': 3.0,
 'MM678': 325.0,
 'MM68': 772.0,
 'MM680': 428.0,
 'MM682': 206.0,
 'MM683': 310.0,
 'MM685': 175.0,
 'MM687': 387.0,
 'MM688': 191.0,
 'MM689': 300.0,
 'MM69': 727.0,
 'MM690': 316.0,
 'MM691': 251.0,
 'MM692': 251.0,
 'MM693': 168.0,
 'MM694': 1066.0,
 'MM698': 239.0,
 'MM699': 269.0,
 'MM7': 203.0,
 'MM70': 200.0,
 'MM702': 225.0,
 'MM704': 182.0,
 'MM706': 234.0,
 'MM709': 229.0,
 'MM71': 233.0,
 'MM710': 200.0,
 'MM713': 433.0,
 'MM714': 233.0,
 'MM715': 2280.0,
 'MM716': 298.0,
 'MM717': 176.0,
 'MM718': 144.0,
 'MM719': 271.0,
 'MM72': 356.0,
 'MM721': 275.0,
 'MM723': 840.0,
 'MM724': 247.0,
 'MM725': 439.0,
 'MM726': 395.0,
 'MM727': 175.0,
 'MM728': 171.0,
 'MM73': 293.0,
 'MM730': 326.0,
 'MM732': 200.0,
 'MM733': 315.0,
 'MM734': 178.0,
 'MM735': 240.0,
 'MM736': 246.0,
 'MM737': 191.0,
 'MM738': 149.0,
 'MM739': 372.0,
 'MM740': 197.0,
 'MM743': 174.0,
 'MM744': 150.0,
 'MM749': 196.0,
 'MM75': 211.0,
 'MM750': 182.0,
 'MM752': 257.0,
 'MM754': 197.0,
 'MM756': 53.0,
 'MM757': 292.0,
 'MM758': 359.0,
 'MM76': 318.0,
 'MM760': 228.0,
 'MM763': 190.0,
 'MM766': 318.0,
 'MM77': 725.0,
 'MM775': 147.0,
 'MM776': 254.0,
 'MM777': 174.0,
 'MM78': 303.0,
 'MM781': 355.0,
 'MM785': 178.0,
 'MM788': 214.0,
 'MM79': 746.0,
 'MM794': 202.0,
 'MM8': 541.0,
 'MM80': 224.0,
 'MM803': 233.0,
 'MM804': 270.0,
 'MM805': 226.0,
 'MM808': 980.0,
 'MM809': 220.0,
 'MM81': 194.0,
 'MM810': 172.0,
 'MM811': 244.0,
 'MM812': 314.0,
 'MM814': 166.0,
 'MM815': 4324.0,
 'MM816': 178.0,
 'MM818': 1129.0,
 'MM819': 300.0,
 'MM82': 218.0,
 'MM822': 227.0,
 'MM824': 571.0,
 'MM825': 353.0,
 'MM828': 165.0,
 'MM829': 225.0,
 'MM832': 368.0,
 'MM833': 261.0,
 'MM834': 204.0,
 'MM836': 786.0,
 'MM837': 203.0,
 'MM838': 244.0,
 'MM84': 252.0,
 'MM840': 368.0,
 'MM842': 237.0,
 'MM843': 841.0,
 'MM844': 818.0,
 'MM846': 253.0,
 'MM848': 285.0,
 'MM852': 652.0,
 'MM855': 796.0,
 'MM856': 496.0,
 'MM857': 234.0,
 'MM859': 468.0,
 'MM86': 216.0,
 'MM860': 713.0,
 'MM861': 156.0,
 'MM862': 1072.0,
 'MM863': 2370.0,
 'MM864': 2014.0,
 'MM866': 283.0,
 'MM867': 237.0,
 'MM868': 226.0,
 'MM869': 249.0,
 'MM87': 228.0,
 'MM870': 392.0,
 'MM871': 376.0,
 'MM872': 176.0,
 'MM873': 287.0,
 'MM875': 204.0,
 'MM876': 316.0,
 'MM877': 489.0,
 'MM878': 234.0,
 'MM879': 352.0,
 'MM88': 205.0,
 'MM880': 246.0,
 'MM881': 265.0,
 'MM882': 828.0,
 'MM883': 400.0,
 'MM884': 234.0,
 'MM885': 389.0,
 'MM886': 258.0,
 'MM887': 308.0,
 'MM888': 490.0,
 'MM889': 195.0,
 'MM89': 265.0,
 'MM890': 616.0,
 'MM891': 245.0,
 'MM892': 198.0,
 'MM893': 253.0,
 'MM894': 329.0,
 'MM897': 1596.0,
 'MM90': 293.0,
 'MM901': 284.0,
 'MM903': 2845.0,
 'MM904': 201.0,
 'MM905': 354.0,
 'MM908': 138.0,
 'MM909': 266.0,
 'MM91': 2562.0,
 'MM914': 195.0,
 'MM915': 190.0,
 'MM918': 1348.0,
 'MM919': 203.0,
 'MM92': 208.0,
 'MM920': 325.0,
 'MM922': 199.0,
 'MM923': 209.0,
 'MM924': 226.0,
 'MM925': 87.0,
 'MM926': 253.0,
 'MM927': 206.0,
 'MM929': 405.0,
 'MM93': 426.0,
 'MM930': 322.0,
 'MM931': 341.0,
 'MM932': 196.0,
 'MM934': 457.0,
 'MM936': 324.0,
 'MM937': -198.0,
 'MM938': 1027.0,
 'MM939': 221.0,
 'MM940': 253.0,
 'MM941': 516.0,
 'MM942': 183.0,
 'MM943': 232.0,
 'MM944': 1577.0,
 'MM945': 186.0,
 'MM946': 3584.0,
 'MM947': 341.0,
 'MM948': 192.0,
 'MM949': 220.0,
 'MM950': 190.0,
 'MM951': 553.0,
 'MM952': 345.0,
 'MM953': 101.0,
 'MM954': 147.0,
 'MM955': 1220.0,
 'MM957': 354.0,
 'MM958': 294.0,
 'MM959': 750.0,
 'MM96': 182.0,
 'MM960': 2412.0,
 'MM961': 693.0,
 'MM962': 1458.0,
 'MM963': 323.0,
 'MM966': 235.0,
 'MM969': 220.0,
 'MM971': 215.0,
 'MM973': 424.0,
 'MM974': 3505.0,
 'MM975': 262.0,
 'MM976': 689.0,
 'MM979': 293.0,
 'MM98': 1819.0,
 'MM980': 230.0,
 'MM981': 616.0,
 'MM982': 1346.0,
 'MM984': 1164.0,
 'MM985': 247.0,
 'MM986': 500.0,
 'MM99': 282.0}

In [87]:
assert patientToDayOfSTC['MM838']	== 244.0
assert patientToDayOfSTC['MM6']	== 657.0
assert patientToDayOfSTC['MM2']	== 229.0

In [68]:
data = pd.read_csv('Labs.csv')

In [69]:
data.head()

    ID ObservationId  ... LowerLimit UpperLimit
0  MM1             P  ...        2.5        4.5
1  MM1           PLT  ...        150        400
2  MM1           ALK  ...         36        161
3  MM1         RDWCV  ...       11.6       14.4
4  MM1         RDWCV  ...       11.6       14.4

[5 rows x 10 columns]

In [70]:
# the chemicals we think are important for prediction.
# don't think we have estrogen, but estradiol?
important_chemicals = ['Calcium', 'Phosphate', 'Parathyroid hormone', \
                       'Alkaline\xa0Phosphatase', 'Vitamin\xa0D3', \
                       'Estradiol', 'Testosterone', 'Thyroid\xa0Stimulating\xa0Hormone',\
                       'Creatinine', 'C-Reactive Protein', 'Sedimentation\xa0Rate']

In [71]:
result_df = pd.DataFrame(columns = data.columns)

In [72]:
result_df

Empty DataFrame
Columns: [ID, ObservationId, ObservationName, Panel, DaysFromDx, ObservationValueNumeric, Units, AbnormalFlags, LowerLimit, UpperLimit]
Index: []

In [88]:
progress = 0
for ID, patient_STC_day in patientToDayOfSTC.items():
  
  for chemical in important_chemicals:
    # get this patient's lab results history of this chemical

    patient_data = data[(data['ID'] == ID) & (data['ObservationName'] == chemical)]
    
    if patient_data.shape[0] != 0:
      row_to_be_added = None # the variable that stores the row that will be added to our result dataframe.
      
      # get the row with lowest day after STC date
      # set this to row_to_be_added first so it can be overwritten by
      # the highest day before STC date later. 
      patient_labs_after_STC = patient_data[patient_data['DaysFromDx'] > patient_STC_day]
      if patient_labs_after_STC.shape[0] != 0:
        row_to_be_added = patient_labs_after_STC[patient_labs_after_STC.DaysFromDx == patient_labs_after_STC.DaysFromDx.min()]
      
      # set the row to be the one with highest day (closest) to STC date
      # if there are any such rows.
      patient_labs_before_STC = patient_data[patient_data['DaysFromDx'] <= patient_STC_day]
      if patient_labs_before_STC.shape[0] != 0:
        row_to_be_added = patient_labs_before_STC[patient_labs_before_STC.DaysFromDx == patient_labs_before_STC.DaysFromDx.max()]
      
      # if the row is not None, that means we have found a row with the "closest" date to STC date
      # add this row to result dataframe
      if row_to_be_added is not None:
        result_df = result_df.append(row_to_be_added, ignore_index=True)
      # else:
        # else we know we don't have any data on 

  progress += 1
  if (progress % 10 == 0):
    print(f'Progress bar: {progress / len(patientToDayOfSTC)}')

Progress bar: 0.014245014245014245
Progress bar: 0.02849002849002849
Progress bar: 0.042735042735042736
Progress bar: 0.05698005698005698
Progress bar: 0.07122507122507123
Progress bar: 0.08547008547008547
Progress bar: 0.09971509971509972
Progress bar: 0.11396011396011396
Progress bar: 0.1282051282051282
Progress bar: 0.14245014245014245
Progress bar: 0.15669515669515668
Progress bar: 0.17094017094017094
Progress bar: 0.18518518518518517
Progress bar: 0.19943019943019943
Progress bar: 0.21367521367521367
Progress bar: 0.22792022792022792
Progress bar: 0.24216524216524216
Progress bar: 0.2564102564102564
Progress bar: 0.2706552706552707
Progress bar: 0.2849002849002849
Progress bar: 0.29914529914529914
Progress bar: 0.31339031339031337
Progress bar: 0.32763532763532766
Progress bar: 0.3418803418803419
Progress bar: 0.3561253561253561
Progress bar: 0.37037037037037035
Progress bar: 0.38461538461538464
Progress bar: 0.39886039886039887
Progress bar: 0.4131054131054131
Progress bar: 0.42735042735042733
Progress bar: 0.4415954415954416
Progress bar: 0.45584045584045585
Progress bar: 0.4700854700854701
Progress bar: 0.4843304843304843
Progress bar: 0.4985754985754986
Progress bar: 0.5128205128205128
Progress bar: 0.5270655270655271
Progress bar: 0.5413105413105413
Progress bar: 0.5555555555555556
Progress bar: 0.5698005698005698
Progress bar: 0.584045584045584
Progress bar: 0.5982905982905983
Progress bar: 0.6125356125356125
Progress bar: 0.6267806267806267
Progress bar: 0.6410256410256411
Progress bar: 0.6552706552706553
Progress bar: 0.6695156695156695
Progress bar: 0.6837606837606838
Progress bar: 0.698005698005698
Progress bar: 0.7122507122507122
Progress bar: 0.7264957264957265
Progress bar: 0.7407407407407407
Progress bar: 0.7549857549857549
Progress bar: 0.7692307692307693
Progress bar: 0.7834757834757835
Progress bar: 0.7977207977207977
Progress bar: 0.811965811965812
Progress bar: 0.8262108262108262
Progress bar: 0.8404558404558404
Progress bar: 0.8547008547008547
Progress bar: 0.8689458689458689
Progress bar: 0.8831908831908832
Progress bar: 0.8974358974358975
Progress bar: 0.9116809116809117
Progress bar: 0.9259259259259259
Progress bar: 0.9401709401709402
Progress bar: 0.9544159544159544
Progress bar: 0.9686609686609686
Progress bar: 0.9829059829059829
Progress bar: 0.9971509971509972

In [89]:
result_df.to_csv('Labs_closest_to_SCT.csv', index = False)

In [90]:
data_labs = pd.read_csv('Labs_closest_to_SCT.csv')

In [91]:
data_labs = data_labs[data_labs['ObservationName'] != 'Parathyroid hormone']

In [92]:
important_chemicals = ['Calcium', 'Phosphate', 'Parathyroid hormone', \
                       'Alkaline\xa0Phosphatase', 'Vitamin\xa0D3', \
                       'Estradiol', 'Testosterone', 'Thyroid\xa0Stimulating\xa0Hormone',\
                       'Creatinine', 'C-Reactive Protein', 'Sedimentation\xa0Rate']

In [93]:
lab_interpretation = {}
lab_interpretation['Calcium'] = {'N':0, 'H': 1, 'L': 1}
lab_interpretation['Phosphate'] = {'N':0, 'H': 1, 'L': 1}
lab_interpretation['Alkaline\xa0Phosphatase'] = {'N':0, 'H': 1, 'L': 0}
lab_interpretation['Vitamin\xa0D3'] = {'N':0, 'H': 1, 'L': 0}
lab_interpretation['Estradiol'] = {'N':0, 'H': 0, 'L': 1}
lab_interpretation['Testosterone'] = {'N':0, 'H': 0, 'L': 1}
lab_interpretation['Thyroid\xa0Stimulating\xa0Hormone'] = {'N':0, 'H': 1, 'L': 1}
lab_interpretation['Creatinine'] = {'N':0, 'H': 1, 'L': 0}
lab_interpretation['C-Reactive Protein'] = {'N':0, 'H': 1, 'L': 0}
lab_interpretation['Sedimentation\xa0Rate'] = {'N':0, 'H': 1, 'L': 0}

In [94]:
# transform lab results flags to match lab interpretation.
data_labs['Abnormal?'] = data_labs.apply(lambda row: lab_interpretation[row['ObservationName']][row['AbnormalFlags']], axis = 1)

In [95]:
list_of_lab_results = []
for ID in data_labs['ID'].unique():
  patient_labs = data_labs[data_labs['ID'] == ID]
  thisRow = [ID]
  for chemical in important_chemicals:
    if chemical in patient_labs['ObservationName'].unique():
      patient_labs_this_chemical = patient_labs[patient_labs['ObservationName'] == chemical]
      if patient_labs_this_chemical.shape[0] == 1:
        thisRow.append(patient_labs_this_chemical['Abnormal?'].values[0])
      else:
        if 1 in patient_labs_this_chemical['Abnormal?']:
          thisRow.append(1)
        else:
          thisRow.append(0)
    else:
      thisRow.append(None)
  list_of_lab_results.append(thisRow)

In [96]:
data_labs_new = pd.DataFrame(data = list_of_lab_results, columns= ['ID'] + important_chemicals)

In [97]:
data_labs_new.drop(['Parathyroid hormone'], axis = 1, inplace = True)

In [98]:
data_labs_new.to_csv('Labs_encoded.csv', index=False)

## 3.2 make medicines data

In [99]:
data = pd.read_csv('Medications.csv')

In [100]:
data.head()

      ID                   Note  ...  NegationScore TermScore
0    MM7              AdmitNote  ...            NaN  0.485489
1    MM7       SCCA-OutptRecord  ...            NaN  0.381300
2   MM55  Nutrition-OutptRecord  ...            NaN  0.406916
3   MM55  Nutrition-OutptRecord  ...            NaN  0.490309
4  MM416  Nutrition-OutptRecord  ...            NaN  0.350080

[5 rows x 9 columns]

In [101]:
medicines = ['Vitamin D supplements', 'Calcium', 'Denosumab', 'Pamidronate', 'Zoledronate', 'Dexamethasone']

In [102]:
# the rows that contain the the ID + 6 other values
# indicating whether the patient took each medicine.
# for example one row might be ['MM1', 1, 0, 0, 0, 0, 0]
rows = []
progress = 0
for ID, STC_Day in patientToDayOfSTC.items():
  # the data of this patient 90 days prior to STC date
  this_patient_data = data[(data['ID'] == ID) & (data['DaysFromDx'] <= STC_Day) & (data['DaysFromDx'] >= STC_Day - 90)]
  # if this dataframe is empty, or that the medications in this 90 days prior
  # to STC date don't contain any of the 6 medicines we want information of
  # we look at the days even prior to 90 days.
  if this_patient_data.shape[0] == 0 or (not (any(item in this_patient_data['Term'].unique() for item in medicines))):
    this_patient_data = data[(data['ID'] == ID) & (data['DaysFromDx'] <= STC_Day)]

  thisRow = [ID] # put ID in this row first

  # for each medicine, if this medicine is in the dataframe
  # add 1 to our row, else add 0
  for medicine in medicines:
    if medicine in this_patient_data['Term'].unique():
      thisRow.append(1)
    else:
      thisRow.append(0)
  # add this row to rows
  rows.append(thisRow)
  progress += 1
  if (progress % 10 == 0):
    print(progress/len(patientToDayOfSTC))

0.014245014245014245
0.02849002849002849
0.042735042735042736
0.05698005698005698
0.07122507122507123
0.08547008547008547
0.09971509971509972
0.11396011396011396
0.1282051282051282
0.14245014245014245
0.15669515669515668
0.17094017094017094
0.18518518518518517
0.19943019943019943
0.21367521367521367
0.22792022792022792
0.24216524216524216
0.2564102564102564
0.2706552706552707
0.2849002849002849
0.29914529914529914
0.31339031339031337
0.32763532763532766
0.3418803418803419
0.3561253561253561
0.37037037037037035
0.38461538461538464
0.39886039886039887
0.4131054131054131
0.42735042735042733
0.4415954415954416
0.45584045584045585
0.4700854700854701
0.4843304843304843
0.4985754985754986
0.5128205128205128
0.5270655270655271
0.5413105413105413
0.5555555555555556
0.5698005698005698
0.584045584045584
0.5982905982905983
0.6125356125356125
0.6267806267806267
0.6410256410256411
0.6552706552706553
0.6695156695156695
0.6837606837606838
0.698005698005698
0.7122507122507122
0.7264957264957265
0.7407407407407407
0.7549857549857549
0.7692307692307693
0.7834757834757835
0.7977207977207977
0.811965811965812
0.8262108262108262
0.8404558404558404
0.8547008547008547
0.8689458689458689
0.8831908831908832
0.8974358974358975
0.9116809116809117
0.9259259259259259
0.9401709401709402
0.9544159544159544
0.9686609686609686
0.9829059829059829
0.9971509971509972

In [103]:
len(rows)

702

In [104]:
# convert rows to a dataframe.
df_medicines = pd.DataFrame(rows, columns = ['ID'] + medicines)

In [105]:
# save dataframe to csv.
df_medicines.to_csv('medicines_90_days_before_STC.csv', index = False)

## 3.3 make leisions data

In [106]:
data = pd.read_csv('BonyLesions.csv')

In [107]:
df_lesions = pd.DataFrame(columns=data.columns)
df_lesions

Empty DataFrame
Columns: [ID, DxType, DaysFromDx, BonyLesions]
Index: []

In [108]:
for ID, STC_Day in patientToDayOfSTC.items():
  less_than_STC_data = data[(data['ID'] == ID) & (data['DaysFromDx'] <= STC_Day)]
  if less_than_STC_data.shape[0] == 0:
    greater_than_STC_data = data[(data['ID'] == ID) & (data['DaysFromDx'] > STC_Day)]
    if greater_than_STC_data.shape[0] != 0:
      df_lesions = df_lesions.append(greater_than_STC_data.sort_values(by = ['DaysFromDx']).iloc[0:1, :], ignore_index=True)
  else:
    df_lesions = df_lesions.append(less_than_STC_data.sort_values(by = ['DaysFromDx'], ascending = False).iloc[0:1, :], ignore_index=True)

In [109]:
def encodeLesions(lesionsString):
  if lesionsString == '0':
    return 0
  else:
    return 1

In [110]:
df_lesions['BonyLesions'] = df_lesions['BonyLesions'].apply(encodeLesions)

In [111]:
# save this to csv.
df_lesions.to_csv('Lesions_encoded.csv', index=False)

# 4. reprepare aggregated datasets

In [115]:
data_labs = pd.read_csv('Labs_encoded.csv')
data_demographics = pd.read_csv('Demographics_encoded.csv')
data_medications = pd.read_csv('medicines_90_days_before_STC.csv')
data_cancer_stage = pd.read_csv('Stages_encoded.csv')
data_bony_lesions = pd.read_csv('Lesions_encoded.csv')
data_fracture = pd.read_csv('Fractures.csv')

In [116]:
data_agg = data_fracture.merge(data_bony_lesions, on = 'ID', how='outer')
data_agg = data_agg.merge(data_cancer_stage, on = 'ID', how='outer')
data_agg = data_agg.merge(data_medications, on = 'ID', how = 'outer')
data_agg = data_agg.merge(data_demographics, on = 'ID', how = 'outer')
data_agg = data_agg.merge(data_labs, on = 'ID', how = 'outer')

In [117]:
data_agg

        ID  HasFracture?  ... C-Reactive Protein  Sedimentation Rate
0      MM1           0.0  ...                1.0                 NaN
1      MM2           0.0  ...                0.0                 NaN
2      MM4           0.0  ...                0.0                 NaN
3      MM5           0.0  ...                0.0                 NaN
4      MM6           0.0  ...                0.0                 NaN
..     ...           ...  ...                ...                 ...
828  MM423           NaN  ...                NaN                 NaN
829  MM486           NaN  ...                NaN                 NaN
830  MM583           NaN  ...                NaN                 NaN
831  MM675           NaN  ...                NaN                 NaN
832  MM711           NaN  ...                NaN                 NaN

[833 rows x 25 columns]

In [118]:
# delete the rows NaN HasFracture? values since that is what we are trying to predict
data_agg = data_agg.dropna(subset = ['HasFracture?'])

In [119]:
data_agg

        ID  HasFracture?  ... C-Reactive Protein  Sedimentation Rate
0      MM1           0.0  ...                1.0                 NaN
1      MM2           0.0  ...                0.0                 NaN
2      MM4           0.0  ...                0.0                 NaN
3      MM5           0.0  ...                0.0                 NaN
4      MM6           0.0  ...                0.0                 NaN
..     ...           ...  ...                ...                 ...
697  MM834           0.0  ...                1.0                 NaN
698  MM843           0.0  ...                0.0                 1.0
699  MM836           0.0  ...                1.0                 NaN
700  MM837           0.0  ...                0.0                 NaN
701  MM838           0.0  ...                0.0                 NaN

[702 rows x 25 columns]

In [120]:
# drop some columns we are not going to use in prediction
data_agg.drop(['DxType', 'DaysFromDx'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
data_agg = data_agg.rename(columns={'Calcium_x': 'TookCalciumMedicine', 'Calcium_y': 'LabCalciumLevel'})

In [122]:
data_agg.to_csv('data_agg.csv', index=False)

# 5. deal with nulls

In [123]:
data = pd.read_csv('data_agg.csv')

In [124]:
data.isnull().sum()

ID                               0
HasFracture?                     0
BonyLesions                     33
Stage                            4
Vitamin D supplements            0
TookCalciumMedicine              0
Denosumab                        0
Pamidronate                      0
Zoledronate                      0
Dexamethasone                    0
AgeAtDx                          1
PatientSex                       1
RacialGroup                      1
LabCalciumLevel                  3
Phosphate                        6
Alkaline Phosphatase             3
Vitamin D3                     137
Estradiol                      552
Testosterone                   389
Thyroid Stimulating Hormone    223
Creatinine                       3
C-Reactive Protein              23
Sedimentation Rate             601
dtype: int64

In [125]:
data.drop(['Estradiol', 'Testosterone', 'Sedimentation\xa0Rate'], axis = 1, inplace = True)

In [126]:
data[data.isnull()['AgeAtDx']]

        ID  HasFracture?  ...  Creatinine  C-Reactive Protein
622  MM908           0.0  ...         NaN                 NaN

[1 rows x 20 columns]

In [127]:
# should remove this row because it doesn't have a lot of data on it
data = data[~data.isnull()['AgeAtDx']]

In [128]:
data.isnull().sum()

ID                               0
HasFracture?                     0
BonyLesions                     33
Stage                            4
Vitamin D supplements            0
TookCalciumMedicine              0
Denosumab                        0
Pamidronate                      0
Zoledronate                      0
Dexamethasone                    0
AgeAtDx                          0
PatientSex                       0
RacialGroup                      0
LabCalciumLevel                  2
Phosphate                        5
Alkaline Phosphatase             2
Vitamin D3                     136
Thyroid Stimulating Hormone    222
Creatinine                       2
C-Reactive Protein              22
dtype: int64

In [129]:
# drop any rows with null value in Vitamin D3 cell
data = data.dropna(subset = ['Vitamin\xa0D3'])

In [130]:
data = data.dropna(subset = ['Phosphate'])

In [131]:
data.isnull().sum()

ID                               0
HasFracture?                     0
BonyLesions                     28
Stage                            1
Vitamin D supplements            0
TookCalciumMedicine              0
Denosumab                        0
Pamidronate                      0
Zoledronate                      0
Dexamethasone                    0
AgeAtDx                          0
PatientSex                       0
RacialGroup                      0
LabCalciumLevel                  0
Phosphate                        0
Alkaline Phosphatase             0
Vitamin D3                       0
Thyroid Stimulating Hormone    171
Creatinine                       0
C-Reactive Protein              11
dtype: int64

In [132]:
data = data.drop('Thyroid\xa0Stimulating\xa0Hormone', axis = 1)

In [133]:
data.isnull().sum()

ID                        0
HasFracture?              0
BonyLesions              28
Stage                     1
Vitamin D supplements     0
TookCalciumMedicine       0
Denosumab                 0
Pamidronate               0
Zoledronate               0
Dexamethasone             0
AgeAtDx                   0
PatientSex                0
RacialGroup               0
LabCalciumLevel           0
Phosphate                 0
Alkaline Phosphatase      0
Vitamin D3                0
Creatinine                0
C-Reactive Protein       11
dtype: int64

In [134]:
data = data.dropna(subset = ['Stage', 'BonyLesions', 'C-Reactive Protein'])

In [135]:
data.isnull().sum()

ID                       0
HasFracture?             0
BonyLesions              0
Stage                    0
Vitamin D supplements    0
TookCalciumMedicine      0
Denosumab                0
Pamidronate              0
Zoledronate              0
Dexamethasone            0
AgeAtDx                  0
PatientSex               0
RacialGroup              0
LabCalciumLevel          0
Phosphate                0
Alkaline Phosphatase     0
Vitamin D3               0
Creatinine               0
C-Reactive Protein       0
dtype: int64

In [136]:
data.shape

(525, 19)

In [137]:
data.to_csv('data_agg_2.csv', index = False)

# 6. one hot encoding

In [138]:
data = pd.read_csv('data_agg_2.csv')

In [139]:
data

        ID  HasFracture?  ...  Creatinine  C-Reactive Protein
0      MM1           0.0  ...         1.0                 1.0
1      MM2           0.0  ...         0.0                 0.0
2      MM4           0.0  ...         1.0                 0.0
3      MM5           0.0  ...         0.0                 0.0
4      MM7           1.0  ...         1.0                 0.0
..     ...           ...  ...         ...                 ...
520  MM832           0.0  ...         1.0                 0.0
521  MM843           0.0  ...         0.0                 0.0
522  MM836           0.0  ...         0.0                 1.0
523  MM837           0.0  ...         0.0                 0.0
524  MM838           0.0  ...         0.0                 0.0

[525 rows x 19 columns]

In [140]:
data['HasFracture?'].sum()

110.0

we had 108 fractures last time, now we have 110, improved a little bit...

In [141]:
# need to do one hot encoding on 1. Age variable, 2. sex, 3. racial group
data = pd.get_dummies(data, columns=['AgeAtDx', 'PatientSex', 'RacialGroup'])

In [142]:
data

        ID  HasFracture?  ...  RacialGroup_3.0  RacialGroup_4.0
0      MM1           0.0  ...                0                0
1      MM2           0.0  ...                0                0
2      MM4           0.0  ...                0                0
3      MM5           0.0  ...                0                0
4      MM7           1.0  ...                0                0
..     ...           ...  ...              ...              ...
520  MM832           0.0  ...                0                0
521  MM843           0.0  ...                0                0
522  MM836           0.0  ...                0                0
523  MM837           0.0  ...                0                0
524  MM838           0.0  ...                0                0

[525 rows x 25 columns]

In [143]:
data.to_csv('data_agg_3.csv', index = False)